<div class="relative mb-2">
    <h2 class="gradient padding text-2xl md:text-{{.size}} text-rered font-bold relative z-10 px-2">
        <span>{{.title}}</span>
    </h2>
</div>

<style>
    h2.gradient span {
        background: linear-gradient(0deg, rgba(255,0,255,0) 0%, rgba(255,0,255,0) 16%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 55%, rgba(255,0,255,0) 41%);
    }
    
    h2.padding span {
        padding: 0.7rem 0.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
</style>