<div class="flex flex-row px-2 md:px-16 md:my-8">

    <div id="prev-{{.partenaire_type}}" class="flex w-4 md:w-1/12 h-12 self-center justify-center">
        <img src="/img/page-redistribuer/fleche_slider.svg" />
    </div>
    
    <div id="carousel-{{.partenaire_type}}" class="flex w-10/12 carousel-redistributeurs m-auto">
    {{ $partenaireType := .partenaire_type }}
    {{ range .data }}
        {{ if eq .type $partenaireType}}
        <div class="px-2">
            {{if eq (len .link) 0}}
            <span title="{{.name}}" class="w-full">
                <img class="object-scale-down" src="{{.img}}" />
            </span>
            {{else}}
            <a href="{{.link}}" target="_blank" title="{{.name}}" class="w-full h-full">
                <img class="w-full h-full object-scale-down object-center px-2" src="{{.img}}" />
            </a>
            {{end}}
        </div> 
        {{ end }}
    {{ end }}
    
    </div>

    <div id="next-{{.partenaire_type}}" class="flex w-4 md:w-1/12 h-12 self-center justify-center">
        <img src="/img/page-redistribuer/fleche_slider.svg" style="transform: scaleX(-1)"/>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script>        
        $(document).ready(function(){
            $('#carousel-{{.partenaire_type}}').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                prevArrow: $('#prev-{{.partenaire_type}}'),
                nextArrow: $('#next-{{.partenaire_type}}'),
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                }]
            });
        });

        // randomize logo order
        var carousel = document.getElementById("carousel-{{.partenaire_type}}");
        for (var i = carousel.children.length; i >= 0; i--) {
            carousel.appendChild(carousel.children[Math.random() * i | 0]);
        }

    </script>

    <style>
        .slick-track {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
        }
        .slick-track .slick-slide {
            display: flex;
            height: 100px;
            align-items: center;
            justify-content: center;
        }
    </style>

</div>

