<div class="bg-white">
    <div class="container md:px-8 py-4 px-12 flex flex-col md:flex-row flex-wrap justify-center md:text-xl">
        <div class="p-2 md:p-4"><a href="/collecter/organiser"
                class="flex flex-col p-4 md:p-8 bg-repink text-redarkpink border hover:border-rered">
                Moi aussi,&nbsp;<span class="text-rered underline">j'organise une collecte</span></a></div>
        <div class="p-2 md:p-4"><a href="/donner/trouver"
                class="flex flex-col p-4 md:p-8 bg-redarkpink text-white border hover:border-rered">
                Moi aussi,&nbsp;<span class="text-rered underline">je donne des produits</span></a></div>
        <div class="p-2 md:p-4"><a href="/soutenir/dons-financiers/"
                class="flex flex-col p-4 md:p-8 bg-repink text-redarkpink border hover:border-rered">
                Moi aussi,&nbsp;<span class="text-rered underline">je soutiens l'association</span></a></div>
    </div>
</div>