<div class="flex">
  <div class="{{if .Params.description_pink}}bg-repink{{else}}bg-rered{{end}} flex-1"></div>
  <div class="container {{if .Params.description_pink}}bg-rered{{else}}bg-repink page-desc--red{{end}}">
    <div class="flex">
      <div
        class="w-5/5 md:w-3/5 {{if .Params.description_pink}}bg-repink text-rered{{else}}bg-rered text-white{{end}} p-8 pr-8 md:pr-16">
        <h1 class="text-2xl mb-8 uppercase font-bold">{{ .Title }}</h1>
        <div class="markdown desc__content text-justify">{{ .Content }}</div>
        {{if isset .Params "display_dons_desc"}}<div class="pt-8 flex flex-row items-center justify-center"><a
            class="big-red-button big-red-button--rounded text-xl"
            href="https://www.helloasso.com/associations/regles-elementaires/formulaires/1/widget" target="_blank"
            onclick="window.dataLayer.push({'event': 'clicDonnerDonsFinanciers', 'eventCategory': 'Dons Financiers', 'eventAction' : 'Donner' ,'eventLabel' : 'don_page_soutenir' })">FAIRE
            UN DON €</a>
        </div>{{end}}
      </div>
      <div
        class="hidden md:flex w-2/5{{if .Params.description_pink}} bg-repink md:bg-rered {{else}} bg-rered md:bg-repink {{end}}">
        <img src="{{ .Params.illu }}" class="object-scale-down" />
      </div>
    </div>
  </div>
  <div class="{{if .Params.description_pink}}bg-repink md:bg-rered {{else}} bg-rered md:bg-repink {{end}}flex-1"></div>
</div>