<div class="w-10/12 md:w-5/6 m-auto pb-4 mt-4">
    {{with .page}}
    <div class="w-1/1 md:w-4/5 m-auto">
        <h2 class="text-rered text-center text-xl md:text-2xl uppercase font-extrabold mb-8">
            {{.title}}
        </h2>
        {{if isset . "text"}}
        <div class=" text-center text-rered mb-8 tracking-tight">{{.text | markdownify}}</div>
        {{end}}
        {{if isset . "btn_text"}}
        <div class="text-center">
            <a class="big-red-button big-red-button--rounded" href="{{ .btn_link }}" target="_blank">
                {{ .btn_text }}
            </a>
        </div>
        {{end}}
    </div>
    {{end}}
</div>
<div class="w-10/12 md:w-full m-auto">
    {{ partial "projet/carousel" (dict "partenaire_type" .page.type "data" .data)}}
</div>
<div class="md:py-2 flex flex-row justify-center">
    <button class="flex flex-col w-32 self-center text-rered items-center" data-type="{{.page.type}}"
    onclick="displayAllPartners(this)"
    >
        voir tous les partenaires
        <img class="mt-2" src="/img/page-nos-partenaires/fleche_bas_slider.svg" alt="" aria-hidden="true" />
    </button>
</div>
{{ partial "projet/partenaire-list" (dict "partenaire_type" .page.type "data" .data) }}