<div class="container p-4">
        <div class="flex flex-row flex-wrap justify-center -m-4">
                {{ $partenaireType := .partenaire_type }}
                {{range .data}}
                {{if eq .type $partenaireType }}
                <div class="w-1/3 md:w-1/5 h-32 p-4">{{if eq (len .link) 0}}<span
                                class="flex w-full h-full justify-center" title="{{.name}}"><img
                                        class="object-scale-down" src="{{.img}}" /></span>{{else}}<a href="{{.link}}"
                                target="_blank" class="flex w-full h-full justify-center hover:border-redarkpink"
                                title="{{.name}}"><img class="object-scale-down" src="{{.img}}" /></a>{{end}}</div>
                {{end}}
                {{end}}</div>
</div>