<div class="container">
  {{ with .page }}
    <div class="w-1/1 md:w-1/2">
      <h2 class="text-redarkpink text-xl uppercase font-bold mb-8">
        {{ .title1 }}<span class="text-rered"> {{ .title2 }}</span>
      </h2>
      {{ if isset . "text" }}
        <div class="text-rered mb-8 markdown text-justify">
          {{ .text | markdownify }}
        </div>
      {{ end }}
      {{ if isset . "btn_text" }}
        <div class="mb-8">
          <a class="big-red-button" href="{{ .btn_link }}" target="_blank"
            >{{ .btn_text }}</a
          >
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>
{{ partial "projet/partenaire-list" (dict "partenaire_type" .page.type "data" .data) }}
