<div id="full-{{.partenaire_type}}-list" class="container h-0 transition-opacity duration-300 opacity-0 hidden">
    <div class="w-10/12 m-auto flex flex-row flex-wrap justify-center">
        {{ $partenaireType := .partenaire_type }}
        {{ range .data }}
        {{ if in .type $partenaireType}}
        <div class="w-1/3 md:w-1/5 h-32 p-4">
        {{ if eq (len .link) 0 }}
        <span class="flex w-full h-full justify-center" title="{{.name}}">
            <img class="object-scale-down" src="{{.img}}" alt="{{.name}}"/>
        </span>
        {{ else }}
        <a href="{{.link}}" target="_blank" 
        class="flex w-full h-full justify-center hover:border-redarkpink" title="{{.name}}">
            <img class="object-scale-down" src="{{.img}}" alt="{{.name}}"/>
        </a>
        {{ end }}
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>