<footer class="">
	<div class="bg-redarkgrey">
		<div class="container flex flex-col md:flex-row">
			<div class="w-full md:w-2/5 md:p-8 py-4 px-4 md:flex md:justify-end">
				<div class="w-11/12 md:w-4/5 mx-auto">
					<div class="md:px-4 text-repink mt-4 md:mt-0 mb-4">
						Avant de nous contacter, n'hésitez pas à jeter un oeil à notre <a class="font-bold hover:underline" href="/faq/">FAQ</a>, vous y trouverez peut-être les réponses aux questions que vous vous posez sur le type de produits que l'on peut donner ou sur la manière d'organiser une collecte de produits par exemple.
					</div>
					<div class="py-4 md:p-4 text-white font-bold flex flex-col">
						<span class="font-normal text-repink">
							Contactez-nous sur : 
						</span>
						<a href="mailto:{{.Site.Data.copyright.contact}}" target="_blank">
							{{.Site.Data.copyright.contact}}
						</a>
						<span class="font-normal text-repink">
							Demandes presse : 
						</span>
						<a href="mailto:{{.Site.Data.copyright.presse}}" target="_blank">
							{{.Site.Data.copyright.presse}}
						</a>
					</div>
					<div class="md:p-4 text-white font-bold">
						<span class="font-normal text-repink">
							Notre adresse :
						</span>
						<br/>
						{{.Site.Data.copyright.adresse | markdownify}}
					</div>
				</div>				
			</div>
			<div class="w-full md:w-3/5 md:flex md:justify-end md:p-8 px-4 py-4">
				{{ partial "contact-form" . }}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="w-11/12 md:w-4/5 m-auto md:m-0 text-rered p-4 text-sm">
			Copyright © 2021 Règles Élémentaires - Tous droits réservés.<br/>
			Règles Élémentaires est une Association Loi 1901 qui aide les plus démunies à rester dignes.<br/>
			Design par le <a class="hover:underline font-semibold" href="https://www.studio-clairvoyant.com/" target="_blank">Studio Clairvoyant</a>.
			Développement par Adrien Trauth et Bastien Germain.
		</div>
	</div>
	<div class="w-full bg-redarkpink flex flex-row justify-center py-2">
		<h1 class="title-with-shadow text-2xl md:text-3xl title-shadow-sm">#CHANGERLESRÈGLES</h1>
	</div>

</footer>