<head>

	<title>{{ .Title }} | {{ $.Site.Title }}</title>

	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
	<link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

	{{ with .Params.map }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
	{{ end }}

	{{ with .Params.carousel }}
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
	{{ end }}

	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta http-equiv="Cache-Control" content="max-age=200" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800&display=swap" rel="stylesheet">
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Params.title }} | {{ $.Site.Title }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:image" content="https://www.regleselementaires.com{{ if .Params.illu }}{{ .Params.illu }}{{ else }}/img/logo_re_rvb-07.png{{ end }}">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:url" content="{{ .Permalink }}" />
	<meta name="twitter:title" content="{{ .Params.title }} | {{ $.Site.Title }}" />
	<meta name="twitter:image" content="https://www.regleselementaires.com{{ if .Params.illu }}{{ .Params.illu }}{{ else }}/img/logo_re_rvb-07.png{{ end }}" />
	
	<!-- OG & Twitter descriptions -->
	{{ if in .Params.tags "news" }}
		<meta property="og:description" content={{ replace .Params.intro "*" "" }} />
		<meta property="twitter:description" content={{ replace .Params.intro "*" "" }} />
	{{ else }}
		<meta property="og:description" content="#ChangerLesRègles" />
		<meta property="twitter:description" content="#ChangerLesRègles" />
	{{ end }}

	<!-- Matomo -->
	<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
		var u="//matomo.regleselementaires.com/";
		_paq.push(['setTrackerUrl', u+'matomo.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
  
</head>