<!-- Primary Nav -->
<nav class="w-full {{if .IsHome}}bg-opacity-0 absolute z-10{{else}}bg-white shadow-md{{end}} sm:h-24 flex justify-between items-center px-4 flex-col sm:flex-row">
	<div class="w-full flex flex-wrap justify-evenly">
		<!-- Logo -->
		<div class="flex flex-col">
			<a class="" href="/">
				<img src="/img/logo-re{{if not .IsHome}}-red{{end}}.png" alt="Regles Elementaires logo"
					class="object-contain h-20" />
			</a>
		</div>

		<div class="flex flex-col justify-center items-end">

			<div class="flex flex-col sm:flex-row justify-end flew-wrap items-end lg:pb-2">
				<div class="px-4 flex-grow">
					<ul class="flex flex-wrap {{if .IsHome}}text-white{{else}}text-rered{{end}} uppercase -mx-4">
						{{ $currentPage := . }}
						{{ range .Site.Menus.main }}
							<li class="menu-item menu-item-space relative {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} font-extrabold {{ end }}">
								<a href="{{ .URL }}" class="menu-item--hover {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} sm:border-b-4 border-white no-underline {{ end }}">
									{{ .Name }}
								</a>
								<!-- Hover Nav -->
								{{ with .Children }}
								<div class="hover-nav ">
									<ul class="bg-white text-rered text-sm font-normal py-2 px-4 text-center mt-4 rounded-md" style="box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10)">
										{{ range . }}
											{{/* if not (eq .Name "Histoire de partenariat") */}}
											{{ if not (or (eq .Name "Charte Règles Élémentaires") (eq .Name "Histoire de partenariat")) }}
											<li class="py-1">
												<a href="{{.URL}}"class="hover:font-bold">{{.Name}}</a>
											</li>
											{{ end }}
										{{ end }}
									</ul>
								</div>
								
								{{ end }}
							</li>
						{{ end }}

						<li class="menu-item menu-item-space relative md:ml-4">
							<a href="https://collectes.regleselementaires.com/" target="_blank" class="font-semibold text-white border-rered border-2 hover:border-redarkpink px-4 rounded-md {{if not .IsHome}} bg-rered hover:bg-redarkpink{{end}}" 
								onclick="gtag('event', 'clicOrganiserCollecte', {
									'event_category': 'Collecte',
									'event_label': 'bouton_nav',
								});"
							>
								Espace collecte
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>