<nav class="bg-redarkpink h-48 sm:h-32 flex sm:justify-between items-center p-0 sm:p-16 flex-col sm:flex-row">

	<!-- Logo -->
	<div>
		<img src="/img/logo-re.png" alt="Regles Elementaires logo" class="object-contain h-12 sm:h-24" />
	</div>
	<div class="flex flex-col sm:flex-row justify-end flew-wrap items-center">
		<!-- Primary Nav -->
		<div class="px-4 flex-grow">
			<ul class="flex flex-wrap text-white uppercase -mx-4">
				<li class="menu-item"><a href="/projet/equipe" >Le Projet</a></li>
				<li class="menu-item"><a href="/products" >Collecter</a></li>

				<li class="menu-item"><a href="/values" >Donner</a></li>

				<li class="menu-item"><a href="/post" >Actualites</a></li>

				<li class="menu-item"><a href="/contact">FAQ</a></li>
			</ul>
		</div>
		<div><button class="menu-item bg-rered rounded text-white whitespace-no-wrap"><a href="" >Espace personnel</a></button>
	</div>
</nav>