<div class="w-full bg-rered">
    <div class="w-full md:w-11/12 mx-auto flex flex-row flex-wrap">
        <div class="w-full md:w-3/5 flex-row p-8">
            <div class="w-full md:w-4/5 m-auto">
                <h3 class="text-white text-xl md:text-2xl font-extrabold pb-4">LA MENS(TR)UELLE</h3>
                <p class="text-white tracking-tight text-sm md:text-base">
                    C'est la newsletter version Règles Élémentaires. Actualités, informations, annonces en avant-première, vous ne voulez pas louper ça !
                </p>
                <form class="mt-4 flex flex-col md:flex-row w-full"
                action="//regleselementaires.us12.list-manage.com/subscribe/post?u=d920a045417cea49ec8048c5f&amp;id=76cba65ade"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="flex-grow md:pr-4">
                        <label for="email_newsletter" class="hidden">email</label>
                        <input class="w-full h-full required email border-b-2 border-white bg-rered text-white placeholder-white px-2"
                        type="email" value="" name="EMAIL" id="email_newsletter" placeholder="Votre email">
                    </div>
                    <input class="cursor-pointer bg-rered text-white rounded-full font-semibold border-white border-2 py-2 px-8 mt-4" type="submit" value="S'ABONNER" name="subscribe" onclick="_paq.push(['trackEvent', 'Newsletter', 'clicInscriptionNewsletter', 'newsletter_footer']);">
                </form>
            </div>
        </div>
        <div class="w-full md:w-2/5 px-8 pb-8 md:pt-8">
            <h3 class="text-white text-xl md:text-2xl font-bold pb-4 uppercase">Suivez-nous</h3>
            <div class="flex flex-row flex-wrap pt-2">
                <a href="https://www.facebook.com/regleselementaires/" target="_blank" 
                class="py-1 pr-2">
                    <img src="/img/social/facebook.svg" class="h-12 rounded-full" alt="lien facebook"/>
                </a>
                <a href="https://twitter.com/RElementaires" target="_blank"
                class="py-1 pr-2">
                    <img src="/img/social/twitter.svg" class="h-12 rounded-full" alt="lien twitter"/>
                </a>
                <a href="https://www.instagram.com/regleselementaires/" target="_blank" 
                class="py-1 pr-2">
                    <img src="/img/social/insta.svg" class="h-12 rounded-full" alt="lien instagram"/>
                </a>
                <a href="https://www.linkedin.com/company/r%C3%A8gles-el%C3%A9mentaires/" target="_blank" 
                class="py-1 pr-2">
                    <img src="/img/social/linkedin.svg" class="h-12 rounded-full" alt="lien linkedin"/>
                </a>
                <a href="https://www.tiktok.com/@regleselementaires" target="_blank" 
                class="py-1 pr-2">
                    <img src="/img/social/tiktok.svg" class="h-12 rounded-full" alt="lien tiktok"/>
                </a>
            </div>
        </div>

    </div>
</div>