<div class="w-full bg-rered">
    <div class="container flex flex-row flex-wrap">
        <div class="w-full md:w-3/5 flex-row p-8">
            <div class="w-full md:w-4/5 m-auto">
                <h3 class="text-white text-xl md:text-2xl font-extrabold pb-4">LA NEWSLETTER</h3>
                <p class="text-white tracking-tight">
                    Pour vous tenir au courant de notre actualité, abonnez-vous à notre newsletter mens(tr)uelle
                </p>
                <form class="mt-4 flex flex-col md:flex-row w-full"
                action="//regleselementaires.us12.list-manage.com/subscribe/post?u=d920a045417cea49ec8048c5f&amp;id=76cba65ade"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="flex-grow md:pr-4">
                        <input class="w-full h-full required email border-b-2 border-white bg-rered text-white placeholder-white px-2"
                        type="email" value="" name="EMAIL" id="email_newsletter" placeholder="Votre email">
                    </div>
                    <input class="cursor-pointer bg-rered text-white rounded-full font-semibold border-white border-2 py-2 px-8 mt-4"
                    type="submit" value="S'ABONNER" name="subscribe" onclick="gtag('event', 'clicInscriptionNewsletter', {
                        'event_category': 'Newsletter',
                        'event_label': 'newsletter',
                    });">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_d920a045417cea49ec8048c5f_76cba65ade" tabindex="-1" value="">
                    </div>
                </form>
            </div>
        </div>
        <div class="w-full md:w-2/5 px-8 pb-8 md:pt-8">
            <h3 class="text-white text-xl md:text-2xl font-bold pb-4 uppercase">Suivez-nous</h3>
            <div class="flex flex-row flex-wrap pt-2">
                <a href="https://www.facebook.com/regleselementaires/" target="_blank" 
                class="py-1 pr-2" onclick="gtag('event', 'clicConsulterReseauxSociaux', {
                    'event_category': 'Reseaux Sociaux',
                    'event_label': 'facebook_newsletter',
                });">
                    <img src="/img/social/facebook.svg" class="h-12 rounded-full" alt="facebook link"/>
                </a>
                <a href="https://twitter.com/RElementaires" target="_blank"
                class="py-1 pr-2" onclick="gtag('event', 'clicConsulterReseauxSociaux', {
                    'event_category': 'Reseaux Sociaux',
                    'event_label': 'twitter_newsletter',
                });">
                    <img src="/img/social/twitter.svg" class="h-12 rounded-full" alt="twitter link"/>
                </a>
                <a href="https://www.instagram.com/regleselementaires/" target="_blank" 
                class="py-1 pr-2" onclick="gtag('event', 'clicConsulterReseauxSociaux', {
                    'event_category': 'Reseaux Sociaux',
                    'event_label': 'insta_newsletter',
                });">
                    <img src="/img/social/insta.svg" class="h-12 rounded-full" alt="instagram link"/>
                </a>
                <a href="https://www.linkedin.com/company/r%C3%A8gles-el%C3%A9mentaires/" target="_blank" 
                class="py-1 pr-2" onclick="gtag('event', 'clicConsulterReseauxSociaux', {
                    'event_category': 'Reseaux Sociaux',
                    'event_label': 'linkedin_newsletter',
                });">
                    <img src="/img/social/linkedin.svg" class="h-12 rounded-full" alt="linkedin link"/>
                </a>
            </div>
        </div>

    </div>
</div>