<div class="bg-rered">
    <div class="w-full md:w-10/12 mx-auto page-desc--red">
      <div class="flex">
        <div class="w-5/5 md:w-2/5 px-8 md:px-16 pt-6 pb-8 md:pb-12 text-white tracking-tighter">
          {{ partial "breadcrumb" . }}
          <h1 class="text-2xl md:text-4xl mb-8 uppercase font-extrabold">{{ .Title }}</h1>
          <div class="md:text-lg font-semibold mb-4">{{ .Params.intro.first }}</div>
          {{ with .Params.intro.second | markdownify }}
          <div class="md:text-lg font-semibold desc__content">{{ .}}</div>
          {{ end }}
          {{ with .Params.intro.list }}
            <ul class="md:text-lg font-semibold">
              <li>{{ .bullet1 }}</li>
              <li>{{ .bullet2 }}</li>
            </ul>
          {{ end }}
          {{ with .Params.intro.hashtags }}
          <div class="font-bold text-lg uppercase mt-4">{{.}}</div>
          {{ end }}
          {{if isset .Params "display_dons_desc"}}
          <div class="pt-8 flex flex-row items-center justify-center">
            <a class="big-white-button big-white-button--rounded"
            href="/donner/dons-financiers/#haWidget" 
            onclick="gtag('event', 'clicDonnerDonsFinanciers', {
                'event_category': 'Dons Financiers',
                'event_label': 'don_banner',
                });">
                FAIRE UN DON
                <span class="rounded-full bg-rered text-white font-bold px-2 py-1 ml-1">€</span>
            </a>
          </div>
          {{end}}
        </div>
 
        <div class="hidden md:flex w-3/5 rounded-xl mt-16 h-96" style="margin-bottom: -10rem;">
          <img src="/img/page-equipe/illu.jpg" class="w-full h-full object-cover object-center rounded-xl" alt="photo équipe"/>
        </div>
      </div>
    </div>
  </div>