<div id="overlay" class="fixed left-0 top-0 bg-popup-overlay z-30 w-full h-full overflow-auto">
    <div class="rounded flex flex-col mx-auto h-auto max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mt-32 md:mt-8">
      <a class="flex flex-col"
        href="https://www.eventbrite.fr/e/billets-sang-gene-le-festival-qui-change-les-regles-by-regles-elementaires-330444778227"
        target="_blank">
        <div class="flex flex-col items-center">
        
            <img class="rounded" src="/img/page-home/popup-festival.png"/>
  
        </div>
      </a>
    </div>
    
  </div>