<div id="popup" class="fixed left-0 top-0 bg-popup-color z-10 w-full h-full">
  <div class="popup-img bg-cover lg:bg-cover m-4 md:m-8 lg:m-12 rounded flex flex-col">
    <div id="close" class="mr-3 xl:mr-4 ml-auto cursor-pointer text-lg md:text-3xl lg:text-5xl xl:text-6xl text-white">&otimes;</div>

    <div class="flex flex-col items-center pt-20 md:pt-48 xl:pt-108">
      <span class="bg-white text-blue-800 text-lg md:text-4xl lg:text-5xl xl:text-6xl font-bold px-1 whitespace-no-wrap">Le crédit menstruel n'existe pas,</span>
      <span class="bg-white text-blue-800 text-lg md:text-4xl lg:text-5xl xl:text-6xl font-bold px-1 my-1 lg:my-2 whitespace-no-wrap">mais pour 1,7M de femmes,</span>
      <span class="bg-white text-red-600 text-lg md:text-4xl lg:text-5xl xl:text-6xl font-bold px-1 whitespace-no-wrap">la précarité menstruelle existe.</span>
      <a class="my-5 md:my-10 lg:my-12 bg-red-600 hover:bg-red-700 text-white text-sm md:text-2xl lg:text-3xl xl:text-4xl font-bold py-1 md:py-2 px-6 md:px-10 lg:px-12 rounded-full whitespace-no-wrap" href="https://www.regleselementaires.com" target="blank">Faire un don</a>
    </div>
  </div>
</div>
