<div role="dialog"
 id="overlay" class="fixed left-0 top-0 bg-popup-overlay z-30 w-full h-full overflow-auto px-8">
  <div class="rounded-xl flex flex-col mx-auto h-auto max-w-xs md:max-w-2xl lg:max-w-3xl xl:max-w-4xl mt-28">
    <a class="flex flex-col"
      href="https://www.instagram.com/reel/DXOouexiJU4/?igsh=MW1mMmdxOHdsOW8wZA=="
      target="_blank">
      <div class="flex flex-col items-center">        
          <img class="hidden md:flex rounded-xl" src="/img/page-home/popup-new-da-desktop.png" alt="Les règles bougent. Nous aussi. Cliquez pour découvrir notre nouvelle identité."/>  
          <img class="flex md:hidden rounded-xl" src="/img/page-home/popup-new-da-mobile.png" alt="Les règles bougent. Nous aussi. Cliquez pour découvrir notre nouvelle identité."/>  
      </div>
    </a>
  </div>    
</div>