<div id="overlay" class="fixed left-0 top-0 bg-popup-overlay z-30 w-full h-full overflow-auto">
    <div class="rounded flex flex-col mx-auto h-auto max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mt-32 md:mt-8">
      <a class="flex flex-col"
        href="https://www.regleselementaires.com/actualites/2022-05-27_barom%C3%A8tre-exclusif-2022-opinion-way-x-r%C3%A8gles-%C3%A9l%C3%A9mentaires/"
        target="_blank">
        <div class="flex flex-col items-center">
        
            <img class="rounded" src="/img/page-home/popup-barometre.jpg"/>
  
        </div>
      </a>
    </div>
    
  </div>