<link rel="stylesheet" href="https://use.typekit.net/ayx4bne.css">

<div id="overlay" class="fixed left-0 top-0 bg-popup-overlay z-30 w-full h-full overflow-auto">
    <div class="bg-repurple rounded flex flex-col mx-auto h-auto max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mt-32 md:mt-8">
      <a class="flex flex-col pt-6"
        href="https://sangprogramme.regleselementaires.com/"
        target="_blank">
        <div class="flex flex-col items-center">
        
            <img class="w-40 mb-8" src="/img/page-home/tampon-sang-programme.png"/>
  
          <span class="text-white font-bold text-xl mb-2 md:text-2xl lg:text-3xl" style="font-family: freight-big-pro, serif;font-weight: 700;font-style: normal;" >
            <span class="bg-white text-repurple">Signez la tribune</span><br/>
            pour engager les candidat·es<br/>
            sur la santé menstruelle    
          </span>
    
          <div class="w-full flex justify-center">
            <button class="my-4 bg-white text-repurple text-md md:text-lg lg:text-xl py-2 px-6 rounded-full whitespace-nowrap">
              SIGNER
            </button>
          </div>
  
          <img src="/img/page-home/popup-tribune.svg"/>
        </div>
      </a>
    </div>
    
  </div>