<div role="dialog"
 id="overlay" class="fixed left-0 top-0 bg-popup-overlay z-30 w-full h-full overflow-auto px-8">
  <div class="rounded-xl flex flex-col mx-auto h-auto max-w-xs md:max-w-2xl lg:max-w-3xl xl:max-w-4xl mt-28">
    <a class="flex flex-col"
      href="https://regleselementaires.don-en-ligne.com/precaritemenstruelle?cid=1&lang=fr_FR&frequency=once&amount=15000"
      target="_blank"
      onclick="_paq.push(['trackEvent', 'Don Financier', 'clicDonnerDonFinancier', 'don_popup']);">
      <div class="flex flex-col items-center">        
          <img class="hidden md:flex rounded-xl" src="/img/page-home/popup_default_desktop.png" alt="Je fais un don et je lutte contre la précarité menstruelle"/>  
          <img class="flex md:hidden rounded-xl" src="/img/page-home/popup_default_mobile.png" alt="Je fais un don et je lutte contre la précarité menstruelle"/>  
      </div>
    </a>
  </div>    
</div>