{{ define "main" }}
<div class="w-full bg-repink">
    <div class="w-10/12 m-auto py-12 text-rered">
        <h1 class="text-xl md:text-3xl uppercase font-extrabold">{{ .Params.intro.title }}</h1>
        <div class="md:w-1/2 mt-8 font-bold text-sm md:text-lg">{{ .Params.intro.text }}</div>
    </div>
</div>
<div class="flex flex-row flex-wrap justify-between w-10/12 mx-auto">
    {{ range .Params.categories }}
        <div class="w-full md:w-5/12">
            <div class="md:text-xl uppercase font-extrabold text-redarkpink mt-4 md:mt-8 mb-4">{{ .title }}</div>
            {{ partial "faq/question" . }}
        </div>        
    {{ end }}
</div>
{{ end }}