{{ define "main" }}
<div class="mb-8">
    {{ partial "page-desc" . }}
    {{ range $elem_index, $elem_val := .Params.actions }}
    {{ $isOdd := not (modBool $elem_index 2) }}
    <div class="pt-8 bg-white">
        <div class="w-full md:w-3/4 xl:w-3/5 m-auto flex flex-col md:flex-row">
            <div class="w-full md:w-5/12 bg-rebeige flex flex-col items-start justify-center p-16 rounded-l-xl">
                {{ partial "projet/big-title" (dict "title" .title "size" "2xl") }}
                <div class="text-rered markdown text-left tracking-tight font-medium my-4">{{.content | markdownify}}</div>
                {{ if ne .btn_link ""}}
                <a class="bg-rered text-white uppercase py-2 px-6 text-center rounded-full my-8" href="{{.btn_link}}"
                    {{if isset . "target_blank"}}target="_blank" {{end}}}>
                        {{.btn_text}}
                </a>
                {{end}}
            </div>
            <div class="w-full md:w-7/12"> 
                <img class="shadow-lg rounded-r-xl object-cover h-full w-full" src="/img/page-actions/permanente-1.jpg" alt=""/>            
            </div>
        </div>
    </div>
    {{end}}
</div>
{{ end }}