{{ define "main" }}
<div class="mb-8">
    {{ partial "page-desc" . }}
    {{ range $elem_index, $elem_val := .Params.actions }}
    <div class="py-8 md:py-10 bg-white">
        <div class="w-full md:w-3/4 m-auto flex flex-col md:flex-row">
            <div class="w-11/12 md:w-6/12 mx-auto bg-rebeige flex flex-col items-start justify-center p-8 md:p-16 rounded-xl md:rounded-l-xl md:rounded-r-none">
                {{ partial "projet/big-title" (dict "title" .title "size" "2xl") }}
                <div class="ml-2 text-rered markdown text-left tracking-tight font-medium my-4">{{.content | markdownify}}</div>
                {{ if ne .btn_link ""}}
                <a class="bg-rered text-white uppercase py-2 px-6 text-center rounded-full mt-8" href="{{.btn_link}}"
                    {{if isset . "target_blank"}}target="_blank" {{end}}}>
                        {{.btn_text}}
                </a>
                {{end}}
            </div>
            <div class="w-11/12 md:w-6/12 mx-auto mt-4 md:mt-0 flex items-end rounded-xl md:rounded-r-xl md:rounded-l-none bg-center bg-cover" style="min-height: 12rem; background-image: url({{.illu}})"> 
                {{ with .chiffre }}
                <div class="w-11/12 md:w-3/4 mx-auto rounded-xl p-3 md:p-4 bg-rered text-white flex flex-col items-center tracking-tight" style="margin-bottom: -2rem;">
                    <span class="text-center font-semibold text-lg md:text-2xl">{{ .big }}</span>
                    <span class="text-center font-light text-sm md:text-base">{{ .small }}</span>
                </div>
                {{ end }}
            </div>
        </div>
        {{ with .second_block }}
            <div class="w-full md:w-3/4 m-auto mt-16">
                <div class="w-11/12 md:w-full mx-auto bg-relightpurple flex flex-wrap justify-center pt-4 rounded-xl">
                    <div class="w-full md:w-1/2 flex flex-col items-center justify-center">
                        <h3 class="w-2/3 text-white text-center font-semibold">{{ .text }}</h3>
                        <a class="bg-reyellowpr font-semibold text-white py-2 px-10 text-center rounded-full md:mt-8 mt-4" href="{{.btn_link}}" target="_blank">
                            {{.btn_text}}
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 flex items-center justify-center mt-4 md:mt-0 md:pr-4">
                        <img src="{{.img_link}}" alt="{{.img_alt}}" />
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
    {{end}}
</div>
{{ end }}