<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="font-sans">
    {{ if .IsHome }}
      {{ if $.Site.Params.display_popup_credit_menstruel }}
        {{ partial "popup-credit-menstruel" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_5ans }}
        {{ partial "popup-5ans" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_don }}
        {{ partial "popup-don" . }}
      {{ end }}
    {{ end }}

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }} {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
