<!DOCTYPE html>
<html lang="fr">
  {{ partial "head" . }}
  <body class="font-sans">
    {{ if .IsHome }}
      {{ if $.Site.Params.display_popup_credit_menstruel }}
        {{ partial "popup-credit-menstruel" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_5ans }}
        {{ partial "popup-5ans" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_don }}
        {{ partial "popup-don" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_tribune }}
        {{ partial "popup-tribune" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_festival }}
        {{ partial "popup-festival" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_barometre }}
        {{ partial "popup-barometre" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_emoji }}
        {{ partial "popup-emoji" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_noel }}
        {{ partial "popup-noel" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_cestpasduluxe }}
        {{ partial "popup-cestpasduluxe" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_decembre_2024 }}
        {{ partial "popup-decembre-2024" . }}
      {{ end }}
      {{ if $.Site.Params.display_popup_regla }}
        {{ partial "popup-regla" . }}
      {{ end }}
    {{ end }}

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }} {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
