{{ define "main" }}
<div>
    {{ partial "page-desc" . }}
    <div class="w-11/12 md:w-5/6 m-auto">
        <div class="pt-8">
            <div class="w-11/12 md:w-full flex flex-col items-center p-8 mx-auto mb-8">
                <h3 class="uppercase text-2xl font-extrabold text-rered mb-4">
                    {{ .Params.title_block.title }}
                </h3>
                <p class="text-rered text-center tracking-tighter font-medium">
                    {{ .Params.title_block.text }}
                    <a href="/collecter/organiser" class="font-bold hover:underline">
                        {{ .Params.title_block.link_text }}
                    </a>
                </p>
            </div>
        </div>
        <div class="my-4">
            <div class="flex flex-wrap justify-center items-start">
                <div class="w-11/12 md:w-1/2 flex flex-col px-4 mb-4 items-center justify-center">
                    <div class="bg-reorange text-white rounded-lg p-8 w-full mb-4">
                        <h2 class="text-2xl font-bold uppercase text-center mb-4 tracking-tight">
                            {{ .Params.short.title }}
                        </h2>
                        <p class="mb-4 tracking-tighter text-center">
                            {{ .Params.short.text | markdownify }}
                        </p>
                    </div>
                    <div class="px-4">
                        <div class="flex flex-row flex-wrap -mx-4">
                            <img class="mb-2 w-1/2 px-4" src="/img/page-collecte/boite-custom-02.png" alt=""/>
                            <img class="mb-2 w-1/2 px-4" src="/img/page-collecte/boite-custom-03.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="w-11/12 md:w-1/2 flex-col px-4">
                    <div class="bg-reorange text-white rounded-lg p-8 mb-4">
                        <h2 class="text-2xl font-bold uppercase text-center mb-4 tracking-tight">
                            {{ .Params.long.title }}
                        </h2>
                        <p class="tracking-tighter text-center mb-4">
                            {{ .Params.long.text | markdownify }}
                        </p>
                    </div>
                    <div class="px-4">
                        <div class="flex flex-row flex-wrap -mx-4">
                            <img class="mb-2 w-1/2 px-4" src="/img/page-collecte/boite-officielle.png" alt=""/>
                            <img class="mb-2 w-1/2 px-4" src="/img/page-collecte/boite-officielle-02.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="container md:px-8 mb-4">
            <div class="flex flex-col items-center p-8">
                <p class="text-rered text-sm tracking-tighter">
                    {{ .Params.condition }}
                </p>
            </div>
        </div>
        {{ partial "collecter/bouton-organiser" . }}
    </div>
    
</div>
{{ end }}