{{ define "main" }}
<div>
    {{ partial "projet/page-desc" . }}
    <div class="container lg:px-8 pt-8">
        <div class="flex flex-col items-center p-8 shadow-2xl">
            <h3 class="uppercase text-xl font-bold text-redarkpink mb-4">Créer ma boîte à dons <span
                    class="text-rered">ou</span> obtenir une boîte officielle : <span class="text-rered">mode
                    d'emploi</span></h3>
            <p class="text-rered">Je shouhaite organiser uen collecte et j'ai consulté au préalable la page <a
                    href="/collecter/organiser" class="font-bold">Organiser ma collecte</a></p>
        </div>
    </div>
    <div class="container px-4 lg:px-12 my-4">
        <div class="flex flex-wrap -mx-8 justify-center">
            <div class="w-1/1 md:w-1/2 flex flex-col px-4 mb-4 items-center justify-center">
                <div class="bg-repink rounded-lg p-4 w-full mb-4">
                    <h2 class="title-red mb-4">Collecte de moins de 3 mois</h2>
                    <p class="text-rered mb-4">je mets ma boite a disposition.</p>
                    <p class="text-rered">Exemples de boîtes customisées:</p>
                </div>
                <div class="px-4">
                    <div class="flex flex-row flex-wrap -mx-4"><img class="mb-2 w-1/2 px-4"
                            src="/img/page-collecte/etape-nana.svg" />
                        <img class="mb-2 w-1/2 px-4" src="/img/page-collecte/etape-nana.svg" />
                        <img class="mb-2 w-1/2 px-4" src="/img/page-collecte/etape-nana.svg" />
                    </div>
                </div>
            </div>
            <div class="w-1/1 md:w-1/2 flex-col px-4">
                <div class="bg-repink rounded-lg p-4 mb-4">
                    <h2 class="title-red mb-4">Collecte de 3 mois ou plus</h2>
                    <p class="text-rered">je peux commander une boite officielle moyennant participation aux frais de
                        production*</p>
                </div>
                <div class="px-4">
                    <div class="flex flex-row flex-wrap -mx-4"><img class="mb-2 w-1/2 px-4"
                            src="/img/page-collecte/etape-nana.svg" />
                        <img class="mb-2 w-1/2 px-4" src="/img/page-collecte/etape-nana.svg" />
                        <img class="mb-2 w-1/2 px-4" src="/img/page-collecte/etape-nana.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container lg:px-8 pt-8 mb-4">
        <div class="flex flex-col items-center p-8 shadow-2xl">
            <p class="text-rered">* Non lucratif</p>
        </div>
    </div>
</div>
{{ end }}