{{ define "main" }}

<div class="bg-repink">
    <div class="flex flex-col w-5/5 md:w-3/5 md:mx-auto mx-5 py-8">
        <h1 class="text-2xl text-rered uppercase font-bold self-center text-center">Charte Règles Élémentaires</h2>
            <span class="text-rered font-bold mb-3">Je m'engage à :</span>
            <ol class="text-rered ml-8 mb-5 list-decimal">
                <li class="">
                    Ce que toutes les informations fournies par moi-même sur mon espace collectes et les formulaires
                    afférents
                    soient correctes et à jour.
                </li>
                <li>Utiliser uniquement, sans altérer d’aucune sorte, les visuels de communication fournis par l’équipe
                    des
                    Règles Élémentaires. Aucune modification des visuels ne peut se faire sans l’accord écrit de
                    l’équipe
                    des
                    Règles Élémentaires.
                </li>
                <li>Valider l’intégralité des contenus et outils de communication dédiés (événement Facebook,
                    newsletter,
                    etc.)
                    avec l’équipe de Règles Élémentaires, avant le début de la collecte et avant toute publication. Dans
                    le
                    cas
                    de
                    la création d’un événement Facebook, inscrire Règles Élémentaires en administrateur de l’événement.
                </li>
                <li>Transmettre l’inventaire de la collecte (en respectant le modèle fourni) à l’équipe de Règles
                    Élémentaires
                    via mon espace collectes.
                </li>
                <li>Transmettre des photos de la collecte à l’équipe Règles Élémentaires via mon espace collectes.
                </li>
                <li>Mettre à disposition les dons selon le calendrier et les modalités définis ci-dessus.
                </li>
            </ol>

            <span class="text-rered font-bold mb-3">L’association Règles Élémentaires s’engage à :</span>
            <ol class="text-rered ml-8 list-decimal">
                <li>Assister l’organisateur dans la recherche d’un partenaire redistributeur.</li>
                <li>Transmettre à l’organisateur le modèle d’inventaire ainsi que les visuels de communication destinés
                    à
                    l’impression d’affiches et/ou flyers et à la communication sur les réseaux sociaux.</li>
                <li>Dans le cas de l’installation de boîtes à dons, fournir les boîtes ou assister l’organisateur dans
                    leur
                    conception.</li>
                <li>Répondre aux questions de l’organisateur dans un délai raisonnable, par téléphone ou par email. Si
                    l’organisateur le souhaitent, une rencontre physique pourrait être organisée.</li>
                <li>Répertorier la collecte sur le site internet et les réseaux sociaux de Règles Élémentaires.</li>
                <li>Communiquer autour de la collecte, notamment via les réseaux sociaux.</li>
                <li>Assurer un suivi de la distribution des dons, afin de mesurer l’impact de l’action.</li>
            </ol>
    </div>
</div>

{{ end }}