<div class="w-full">

    {{ range .questions }}                
        <div class="tab w-full overflow-hidden shadow mb-4 text-gray-800"
        onclick="gtag('event', 'clicQuestion', {
            'event_category': 'Question',
            'event_label': '{{ .id }}',
        });">
            <input class="absolute opacity-0" id="tab-single-{{.id}}" type="radio" name="tabs2">
            <label class="flex p-4 leading-normal cursor-pointer font-medium" for="tab-single-{{.id}}">
                <div class="w-11/12 pr-2">{{ .question }}</div>                    
                <svg viewBox="0 0 32 32" class="w-6 icon icon-chevron-bottom fill-current" aria-hidden="true"><path d="M16.003 18.626l7.081-7.081L25 13.46l-8.997 8.998-9.003-9 1.917-1.916z"/></svg>
            </label>
            <div class="tab-content overflow-y-auto border-l-2 border-rered leading-normal">
                <p class="p-4">{{ .answer | markdownify }}</p>
            </div>
        </div>
    {{ end }}

</div>

<script>
    /* Optional Javascript to close the radio button version by clicking it again */
    var myRadios = document.getElementsByName('tabs2');
    var setCheck;
    var x = 0;
    for(x = 0; x < myRadios.length; x++){
        myRadios[x].onclick = function(){
            if(setCheck != this){
                setCheck = this;
            }else{
                this.checked = false;
                setCheck = null;
        }
        };
    }
</script>

<style>
    /* Tab content - closed */
    .tab-content {
        max-height: 0;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
    }
    /* :checked - resize to full height */
    .tab input:checked ~ .tab-content {
        max-height: 100vh;
        color: #eb364b;
    }
    /* Label formatting when open */
    .tab input:checked + label{
        color: #eb364b;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }
    /* Icon */
    .tab label::after {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5;
        font-size: 1.25rem;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }

    /* Icon formatting - open */
    .tab input[type=radio]:checked + label svg {
        transform: rotateX(180deg);
    }

    .tab a {
        font-weight: bold;
    }
    .tab a:hover {
        text-decoration: underline;
    }
</style>

