<div class="flex flex-row px-2 w-5/6 md:w-full m-auto md:px-16 my-4 md:my-8">

    <div class="flex w-4 md:w-1/12 prev h-6 self-center justify-center mr-2">
        <img class="cursor-pointer" src="/img/page-redistribuer/fleche_slider.svg" />
    </div>
    
    <div id="carousel-redistributeurs" class="flex w-10/12 carousel-redistributeurs">

    {{ range .Site.Data.partenaires }}
        {{ if eq .type "redistributeur"}}
        <div class="px-2">
            {{if eq (len .link) 0}}
            <span title="{{.name}}" class="w-full">
                <img class="object-scale-down" src="{{.img}}" />
            </span>
            {{else}}
            <a href="{{.link}}" target="_blank" title="{{.name}}" class="w-full h-full">
                <img class="w-full h-full object-scale-down" src="{{.img}}" />
            </a>
            {{end}}
        </div> 
        {{ end }}
    {{ end }}
    
    </div>

    <div class="flex w-4 md:w-1/12 next h-6 self-center justify-center ml-2">
        <img class="cursor-pointer" src="/img/page-redistribuer/fleche_slider.svg" style="transform: scaleX(-1)"/>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script>        
        $(document).ready(function(){
            $('.carousel-redistributeurs').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                prevArrow: $('.prev'),
                nextArrow: $('.next'),
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                }]
            });
        });

        // randomize logo order
        var carousel = document.getElementById("carousel-redistributeurs");
        for (var i = carousel.children.length; i >= 0; i--) {
            carousel.appendChild(carousel.children[Math.random() * i | 0]);
        }

    </script>

    <style>
        .slick-track {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
        }
        .slick-track .slick-slide {
            display: flex;
            height: 100px;
            align-items: center;
            justify-content: center;
        }
    </style>

</div>

