{{ define "main" }}
<div class="font-dm">
    <div class="bg-rered py-8">
        <div class="w-full md:w-10/12 mx-auto page-desc--red">
            <div class="flex font-unbounded">
                <div class="w-full text-center px-8 md:px-16 py-8 md:py-16 text-white tracking-tighter">
                    <!-- {{ partial "breadcrumb" . }} -->
                    <h1 class="text-2xl md:text-4xl mb-4 font-bold">{{ .Title }}</h1>
                    <!--<h2 class="text-2xl md:text-2xl font-light">{{ .Params.subtitle }}</h2>-->
                </div>
            </div>
        </div>
    </div>

    <div class="w-11/12 md:w-3/4 mx-auto tracking-tight mb-8">
        <div id="mainTabContainer" class="p-4 md:p-0 my-4 md:my-8 rounded-xl">
            <ul class="flex flex-col md:flex-row flex-wrap justify-between text-sm font-medium text-center" id="mainTab" data-tabs-toggle="#mainTabContent" role="tablist">
                {{ range .Params.tabs }}
                <li class="" role="presentation">
                    <button class="text-center md:text-left font-semibold h-full p-2 md:p-4 border-b-2 border-transparent" id="{{ .id }}-tab" data-tabs-target="#{{ .id }}" type="button" role="tab" aria-controls="{{ .id }}" aria-selected="false">
                        <span class="hidden md:inline-block">{{ .title | markdownify }}</span>
                        <span class="inline-block md:hidden">{{ .title_mobile | markdownify }}</span>
                    </button>
                </li>
                {{ end }}
            </ul>
        </div>
        <div id="mainTabContent">
            <!-- EDITO -->
            <div class="hidden p-4" id="edito" role="tabpanel" aria-labelledby="edito-tab">
                <h3 class="text-rered text-center text-lg md:text-xl mb-4 font-unbounded font-bold">{{ .Params.intro.title }}</h3>
                <p class="w-full md:w-3/4 mx-auto text-rered text-center">{{ .Params.intro.text | markdownify }}</p>
                <img class="mt-8" src="/img/page-rapport-2024/banniere-1.png" alt="" aria-hidden="true"/>
                <div class="flex flex-row flex-wrap text-rered mt-8">
                    <div class="hidden md:flex w-1/6 flex-col justify-center items-center">
                        <img class="w-3/4" src="/img/page-rapport/nadege-edito.png" alt="" aria-hidden="true"/>
                        <p class="mt-4 text-center font-bold">{{ .Params.edito_author | markdownify }}</p>
                    </div>
                    <div class="w-full md:w-5/6 md:pl-4">
                        <img class="w-3/4 md:w-1/2" src="/img/page-rapport/edito.png" alt="édito"/>
                        <p class="w-full md:w-4/5 mt-8">{{ .Params.edito | markdownify }}</p>
                        <p class="block md:hidden mt-4 text-center font-bold">{{ .Params.edito_author | markdownify }}</p>
                    </div>
                </div>
                <div class="bg-rebeigera rounded-xl p-6 md:py-8 md:px-16 mt-8 md:mt-16">   
                    <h4 class="text-rered text-center text-lg md:text-xl font-unbounded font-bold">{{ .Params.events_title }}</h4>            
                    <div class="my-8 hidden md:block">
                        <ul class="flex flex-wrap justify-between text-sm font-medium text-center bg-white rounded-full" id="eventsTab" data-tabs-toggle="#eventsTabContent" role="tablist">
                            {{ range .Params.key_events }}
                            <li class="mr-2" role="presentation" style="margin-bottom: -60px;">
                                <button class="inline-block text-left h-full" id="{{ .month }}-tab" data-tabs-target="#{{ .month }}" type="button" role="tab" aria-controls="{{ .month }}" aria-selected="false">
                                    <div class="goutte-img bg-no-repeat bg-top min-w-full w-10 h-10"></div>
                                    <div class="month-title font-unbounded w-full text-center text-repurple font-bold uppercase">{{ .month | markdownify }}</div>
                                </button>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    <div id="eventsTabContent" class="hidden md:flex">
                        {{ range .Params.key_events }}
                        <div class="hidden p-4 rounded-xl w-full" id="{{ .month }}" role="tabpanel" aria-labelledby="{{ .month }}-tab">
                            <div class="flex flex-row mt-4">
                                <div class="w-3/5 flex justify-center">
                                    {{ range .imgs }}
                                    <div class="h-64 w-64 rounded-xl mx-4 bg-cover bg-center" style="background-image : url('{{ .src }}')"></div>
                                    {{ end }}
                                </div>
                                <div class="w-2/5 flex flex-col text-rered justify-center">
                                    {{ range .texts }}
                                    <p class="my-2">{{ .content }}</p>
                                    {{ end }}
                                </div>
                            </div>                            
                        </div>
                        {{ end }}
                    </div>
                    <div class="flex md:hidden flex-row">

                        <div id="prev-events" class="flex w-4 md:w-1/12 h-6 self-center justify-center">
                            <img class="cursor-pointer" src="/img/page-redistribuer/fleche_slider.svg" alt="partenaire précédent"/>
                        </div>
                        
                        <div id="carousel-events" class="flex w-10/12 carousel-redistributeurs m-auto pt-6">
                        {{ range $event_index, $event_val := .Params.key_events }} 
                            {{ range $img_index, $img_val := $event_val.imgs }}
                            <div class="flex flex-col">
                                <div class="month-title font-unbounded w-full text-center text-repurple font-bold uppercase mb-4">{{ $event_val.month | markdownify }}</div>
                                <div class="h-64 w-full rounded-xl bg-cover bg-center" style="background-image : url('{{ $img_val.src }}')"></div>                            
                                {{ $text := index $event_val.texts $img_index }}
                                <p class="text-rered text-center mt-4">{{ $text.content }}</p>
                            </div>   
                            {{ end }}                                 
                        {{ end }}                        
                        </div>
                    
                        <div id="next-events" class="flex w-4 md:w-1/12 h-6 self-center justify-center">
                            <img class="cursor-pointer" src="/img/page-redistribuer/fleche_slider.svg" alt="partenaire suivant" style="transform: scaleX(-1)"/>
                        </div>
                    
                    </div>
                </div>
                <h4 class="text-rered text-center text-lg md:text-2xl my-12 font-unbounded font-bold">{{ .Params.key_numbers.title }}</h4>
                <h3 class="text-repurple text-center text-md md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.key_numbers.precarite_title }}</h3>
                <div class="flex flex-row flex-wrap text-white justify-center"> 
                    {{ range .Params.key_numbers.precarite_numbers }}
                        <div class="py-2 w-full md:w-1/3">
                            <div class="flex flex-row justify-center rounded-xl bg-repurple px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                <div class="flex flex-col justify-center items-center">
                                    <img class="w-16 mb-4" src="{{ .img }}" alt="" aria-hidden="true"/>
                                    <div class="text-xl font-unbounded font-bold">{{ .number }}</div>
                                    <div class="text-center">{{ .text }}</div>
                                </div>
                            </div>
                        </div>
                    {{ end }}                   
                </div>
                <h3 class="text-reorange text-center text-md md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.key_numbers.benevoles_title }}</h3>
                <div class="flex flex-row flex-wrap text-white justify-center"> 
                    {{ range .Params.key_numbers.benevoles_numbers }}
                        <div class="w-full md:w-1/2 py-2">
                            <div class="flex flex-row justify-between rounded-xl bg-reorange px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                <div class="w-1/5 h-12 flex flex-col justify-center">
                                    <img class="w-16" src="{{ .img }}" alt="" aria-hidden="true"/>
                                </div>
                                <div class="w-4/5 flex flex-col justify-center ml-4">
                                    <div class="text-xl font-unbounded font-bold">{{ .number }}</div>
                                    <div>{{ .text }}</div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <h3 class="text-repink text-center text-md md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.key_numbers.education_title }}</h3>
                <div class="flex flex-row flex-wrap text-white justify-center"> 
                    {{ range .Params.key_numbers.education_numbers }}
                        <div class="w-full md:w-1/3 py-2">
                            <div class="flex flex-row justify-between rounded-xl bg-repink px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                <div class="w-1/5 h-12 flex flex-col justify-center">
                                    <img class="w-16" src="{{ .img }}" alt="" aria-hidden="true"/>
                                </div>
                                <div class="w-4/5 flex flex-col justify-center ml-4">
                                    <div class="text-xl font-unbounded font-bold">{{ .number }}</div>
                                    <div>{{ .text }}</div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <h3 class="text-remauve text-center text-md md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.key_numbers.formation_title }}</h3>
                <div class="flex flex-row flex-wrap text-white justify-center"> 
                    {{ range .Params.key_numbers.formation_numbers }}
                        <div class="w-full md:w-1/2 py-2">
                            <div class="flex flex-row justify-between rounded-xl bg-remauve px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                <div class="w-1/5 h-12 flex flex-col justify-center">
                                    <img class="w-16" src="{{ .img }}" alt="" aria-hidden="true"/>
                                </div>
                                <div class="w-4/5 flex flex-col justify-center ml-4">
                                    <div class="text-xl font-unbounded font-bold">{{ .number }}</div>
                                    <div>{{ .text }}</div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <h3 class="text-repurple text-center text-md md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.key_numbers.public_title }}</h3>
                <div class="flex flex-row flex-wrap text-white justify-center"> 
                    {{ range .Params.key_numbers.public_numbers }}
                        <div class="w-full md:w-1/2 py-2">
                            <div class="flex flex-row justify-between rounded-xl bg-repurple px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                <div class="w-16 h-12 flex flex-col justify-center">
                                    <img src="{{ .img }}" alt="" aria-hidden="true"/>
                                </div>
                                <div class="w-4/5 flex flex-col justify-center ml-4">
                                    <div class="text-xl font-unbounded font-bold">{{ .number }}</div>
                                    <div>{{ .text }}</div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>  
                <div class="w-full text-rered mx-auto mt-4 py-6"> 
                    <h4 class="text-rered text-center text-lg md:text-2xl mb-8 font-unbounded font-bold">{{ .Params.carte_title }}</h4>
                    <img src="/img/page-rapport-2024/carte.png" alt="
                    Antenne Ile-de-France: + de 500000 protections périodiques redistribuées; + de 30 formations; 130 ateliers et + de 50 actions bénévoles.
                    Antenne Pays de la Loire: + de 50000 protections périodiques redistribuées; 10 formations; 30 ateliers et + de 20 actions bénévoles.
                    Antenne Centre-Val de Loire: + de 100000 protections périodiques redistribuées; 20 ateliers.
                    Antenne PACA: + de 100000 protections périodiques redistribuées; 5 formations.
                    ">
                </div>            
                <div class="w-full text-rered mx-auto mt-4 py-6 md:py-12">                        
                    <h4 class="text-rered text-center text-lg md:text-2xl mb-12 font-unbounded font-bold">{{ .Params.partners_title }}</h4>
                    <h5 class="text-rered text-lg md:text-xl my-8 font-unbounded font-bold">{{ .Params.publics_title }}</h5>
                    <div class="w-full flex flex-row flex-wrap">
                        {{ range .Params.publics }}
                        <div class="w-1/2 md:w-1/5 flex items-center justify-center">
                            <img class="w-2/3" src="{{ .logo }}" alt="{{ .name }}">
                        </div>                                
                        {{ end }}
                    </div>
                    <h5 class="text-rered text-lg md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.privates_title }}</h5>
                    <div class="w-full flex flex-row flex-wrap">
                        {{ range .Params.privates }}
                        <div class="w-1/2 md:w-1/5 flex items-center justify-center">
                            <img class="w-2/3" src="{{ .logo }}" alt="{{ .name }}">
                        </div>                                
                        {{ end }}
                    </div>
                    <h5 class="text-rered text-lg md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.mecenat_title }}</h5>
                    <div class="w-full flex flex-row flex-wrap">
                        {{ range .Params.mecenat }}
                        <div class="w-1/2 md:w-1/5 flex items-center justify-center">
                            <img class="w-2/3" src="{{ .logo }}" alt="{{ .name }}">
                        </div>                                
                        {{ end }}
                    </div>  
                    <h5 class="text-rered text-lg md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.operationnels_title }}</h5>
                    <div class="w-full flex flex-row flex-wrap">
                        {{ range .Params.operationnels }}
                        <div class="w-1/2 md:w-1/5 flex items-center justify-center">
                            <img class="w-2/3" src="{{ .logo }}" alt="{{ .name }}">
                        </div>                                
                        {{ end }}
                    </div>
                    <h5 class="text-rered text-lg md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.evenementiels_title }}</h5>
                    <div class="w-full flex flex-row flex-wrap">
                        {{ range .Params.evenementiels }}
                        <div class="w-1/2 md:w-1/5 flex items-center justify-center">
                            <img class="w-2/3" src="{{ .logo }}" alt="{{ .name }}">
                        </div>                                
                        {{ end }}
                    </div>   
                    <h5 class="text-rered text-lg md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .Params.produits_title }}</h5>
                    <div class="w-full flex flex-row flex-wrap">
                        {{ range .Params.produits }}
                        <div class="w-1/2 md:w-1/5 flex items-center justify-center">
                            <img class="w-2/3" src="{{ .logo }}" alt="{{ .name }}">
                        </div>                                
                        {{ end }}
                    </div>                                                                           
                </div> 
               
            </div>

            <!-- ANCRAGE -->
            <div class="hidden p-4 text-repurple" id="ancrage" role="tabpanel" aria-labelledby="ancrage-tab">
                <h3 class="text-rered text-center text-xl md:text-2xl mb-4 font-unbounded font-bold">{{ .Params.ancrage.intro.title | markdownify }}</h3>
                <p class="w-full md:w-3/4 mx-auto text-rered text-center">{{ .Params.ancrage.intro.text }}</p>
                <img class="mt-8" src="/img/page-rapport-2024/banniere-page-2.jpg" alt="" aria-hidden="true"/>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <p class="mt-4">{{ .Params.ancrage.first_text | markdownify }}</p>
                </div>
                <div class="text-white py-8 md:py-12 flex flex-wrap justify-between">            
                    {{ range .Params.ancrage.cards }}
                        <div class="flip-card w-full md:w-1/2 mb-4 md:mb-0 p-4" style="height: 34rem;">
                            <div class="flip-card-inner">
                                <div class="flip-card-front flex flex-col rounded-xl bg-repurple text-left">
                                    <h3 class="mt-8 text-2xl font-semibold px-8 flex">
                                        <img class="mr-4 h-7" src="/img/page-rapport-2024/pin-icon.svg" alt="">
                                        {{ .title }}
                                    </h3>
                                    <p class="px-8 mt-4 flex">
                                        <img class="mr-4 h-7" src="/img/page-rapport-2024/calendar-icon.svg" alt="">
                                        {{ .date }}
                                    </p>
                                    <p class="px-8 mt-4 flex">
                                        <img class="mr-4 h-7" src="/img/page-rapport-2024/drop-icon.svg" alt="">
                                        {{ .responsable }}
                                    </p>
                                    <img class="mt-4 self-center" src="{{ .img }}" alt="" aria-hidden="true">                                    
                                </div>
                                <div class="flip-card-back flex flex-col rounded-xl bg-remauve text-left">
                                    <h3 class="my-8 text-2xl font-semibold px-8">Chiffres clés 2024</h3>
                                    {{ range .numbers }}
                                        <p class="px-8 flex">
                                            <img class="mr-4 h-5" src="/img/page-rapport-2024/check-icon.svg" alt="">
                                            {{ .number }}
                                        </p>
                                    {{ end }}
                                </div>
                            </div>
                        </div> 
                    {{ end }}               
                </div>
                {{ range .Params.ancrage.antennes }}
                    <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-4 border-repurple">
                        <button class="accordion mt-8 text-left font-semibold text-xl flex justify-between">
                            <span>{{ .title }}</span>
                            <img class="dropdown-arrow" src="/img/page-rapport-2024/dropdown-arrow.svg" alt="">
                        </button>
                        <div class="panel">
                            <p>{{ .text | markdownify }}</p>
                            <div class="relative bg-rebeige text-rered rounded-xl px-10 md:px-12 py-8 mt-12">
                                <img class="absolute" style="top: -24px;" src="/img/page-rapport-2024/quote.svg" alt="">
                                <p class="mt-2">{{ .quote }}</p>
                                <p class="mt-4">{{ .quote_author }}</p>
                            </div>
                            <img class="mt-8" src="{{ .img }}" alt="">
                        </div>
                    </div>
                {{ end }}
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .Params.ancrage.benevoles.title }}</h4>
                    <p class="mt-4">{{ .Params.ancrage.benevoles.first_text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap my-8">
                    {{ range .Params.ancrage.benevoles.numbers }}
                        <div class="w-full md:w-1/2 md:h-48 py-2 text-white">
                            <div class="flex flex-row justify-between rounded-xl bg-repurple px-6 md:px-12 py-4 md:py-0 h-full md:mr-4">
                                <div class="w-4/5 flex flex-col justify-center">
                                    <div class="text-4xl font-unbounded font-bold">{{ .number }}</div>
                                    <div>{{ .text }}</div>
                                </div>
                                <div class="w-1/5 flex flex-col justify-center">
                                    <img class="w-16 md:w-20" src="{{ .img }}" alt="" aria-hidden="true"/>
                                </div>
                            </div>
                        </div>
                    {{ end }}    
                    </div>           
                    <p class="mt-4">{{ .Params.ancrage.benevoles.second_text | markdownify }}</p>           
                </div>
                <div class="w-11/12 md:w-5/6 mx-auto mt-10 flex flex-row flex-wrap">
                    <div class="w-full md:w-1/2 text-rered md:even:pl-4 md:odd:pr-4 pt-4">
                        <img class="shadow-xl" src="/img/page-rapport-2024/stand.png" alt="">
                    </div>
                    {{ range .Params.ancrage.other_actions }}  
                        <div class="w-full md:w-1/2 text-rered md:even:pl-4 md:odd:pr-4 pt-4">
                            <div class="shadow-xl px-10 py-8 flex flex-col">                        
                                <h4 class="font-semibold text-xl">{{ .title }}</h4>
                                <p class="mt-4">
                                    {{ .preview }}
                                    <span class="hidden" class="more-text">
                                        {{ .more_text | markdownify }}
                                    </span>
                                </p>
                                <button class="read-more-button text-repurple mt-4 flex self-end" class="mt-4">Lire la suite <img class="ml-2" src="/img/page-rapport-2024/read-more-arrow.svg" alt=""></button>  
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>

            <!-- EDUCATION -->
            {{ with .Params.education }}
            <div class="hidden p-4 text-repurple" id="education" role="tabpanel" aria-labelledby="education-tab">
                <h3 class="text-rered text-center text-xl md:text-2xl mb-4 font-unbounded font-bold">{{ .intro.title | markdownify }}</h3>
                <p class="w-full md:w-3/4 mx-auto text-rered text-center">{{ .intro.text }}</p>
                <img class="mt-8" src="/img/page-rapport-2024/banniere-page-3.png" alt="" aria-hidden="true"/>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .parlons_regles.title }}</h4>
                    <p class="mt-4">{{ .parlons_regles.first_text | markdownify }}</p>
                    <div class="flex flex-col items-center">
                        <img class="w-full mt-8" src="/img/page-rapport-2024/commentaires.png" alt="" aria-hidden="true"/>
                        <img class="w-full md:w-3/4 mt-8" src="/img/page-rapport-2024/mockup-parlons-regles.png" alt="" aria-hidden="true"/>
                    </div>  
                    <p class="mt-12">{{ .parlons_regles.second_text | markdownify }}</p>
                </div>
                <h3 class="text-repurple text-center text-md md:text-xl mt-12 mb-8 font-unbounded font-bold">{{ .parlons_regles.numbers_title }}</h3>
                <div class="flex flex-row flex-wrap text-white justify-center"> 
                    {{ range .parlons_regles.numbers }}
                        <div class="py-2 w-full md:w-1/3">
                            <div class="flex flex-row justify-center rounded-xl bg-repurple px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="w-16 h-12 mb-4 flex justify-center items-center">
                                        <img src="{{ .img }}" alt="" aria-hidden="true"/>
                                    </div>
                                    <div class="text-xl font-unbounded font-bold">{{ .number }}</div>
                                    <div class="text-center">{{ .text }}</div>
                                </div>
                            </div>
                        </div>
                    {{ end }}                   
                </div>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .formation.title }}</h4>
                    <p class="mt-4">{{ .formation.first_text | markdownify }}</p>
                    <div class="flex flex-col items-center">
                        <img class="w-full md:w-3/4 mt-8" src="/img/page-rapport-2024/formation-guides.png" alt="" aria-hidden="true"/>
                    </div>  
                    <p class="mt-12">{{ .formation.second_text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap justify-center">
                        <div class="w-full md:w-1/2 mt-8 md:pr-4">
                            <img src="/img/page-rapport-2024/formation-1.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 mt-8 md:pl-4">
                            <img src="/img/page-rapport-2024/formation-2.png" alt="" aria-hidden="true"/>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row flex-wrap text-white justify-center mt-8"> 
                    {{ range .formation.numbers }}
                        <div class="py-2 w-full md:w-1/3">
                            <div class="flex flex-row justify-center rounded-xl bg-repurple px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="w-16 h-12 mb-4 flex justify-center items-center">
                                        <img src="{{ .img }}" alt="" aria-hidden="true"/>
                                    </div>
                                    <div class="text-xl font-unbounded font-bold">{{ .number }}</div>
                                    <div class="text-center">{{ .text }}</div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>                
                <div class="w-full rounded-xl text-rered mx-auto mt-14 bg-rebeigera py-6 md:py-12 px-6">
                    <div class="w-11/12 md:w-5/6 mx-auto flex flex-wrap items-center">
                        <div class="w-full md:w-2/3">{{ .formation.card_text }}</div>
                        <div class="w-full md:w-1/3 flex md:justify-end mt-4 md:mt-0">
                            <div class="w-full md:w-4/5 flex items-center">
                                <img src="/img/page-rapport-2024/formation-guide.png" alt="" aria-hidden="true">
                            </div>                            
                        </div> 
                    </div>                                                     
                </div>         
            </div>
            {{ end }}

            <!-- PARTENAIRES -->
            {{ with .Params.partenaires }}
            <div class="hidden p-4  text-repurple" id="partenaires" role="tabpanel" aria-labelledby="partenaires-tab">
                <h3 class="text-rered text-center text-xl md:text-2xl mb-4 font-unbounded font-bold">{{ .intro.title | markdownify }}</h3>
                <p class="w-full md:w-3/4 mx-auto text-rered text-center">{{ .intro.text }}</p>
                <img class="mt-8" src="/img/page-rapport-2024/banniere-page-4.png" alt="" aria-hidden="true"/>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .impact.title }}</h4>
                    <p class="mt-4">{{ .impact.text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap mt-4">
                        <div class="w-full md:w-1/2 md:pr-2 md:pl-2 mt-4">
                            <img src="/img/page-rapport-2024/impact-1.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pr-2 md:pl-2 mt-4">
                            <img src="/img/page-rapport-2024/impact-2.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pr-2 md:pl-2 mt-4">
                            <img src="/img/page-rapport-2024/impact-3.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pr-2 md:pl-2 mt-4">
                            <img src="/img/page-rapport-2024/impact-4.png" alt="" aria-hidden="true"/>
                        </div>
                    </div>                      
                </div>    
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .enquete.title }}</h4>
                    <p class="mt-4">{{ .enquete.text | markdownify }}</p>
                    <div class="w-full mt-8">
                        <img src="/img/page-rapport-2024/enquete.png" alt="" aria-hidden="true"/>
                    </div>
                    <div class="flex flex-row flex-wrap text-white justify-center mt-8"> 
                        {{ range .enquete.numbers }}
                            <div class="py-2 w-full md:w-1/3">
                                <div class="flex flex-row justify-center rounded-xl bg-repurple px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                    <div class="flex flex-col justify-center items-center">
                                        <div class="text-3xl font-unbounded font-bold">{{ .number }}</div>
                                        <div class="text-center">{{ .text }}</div>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                    <div class="mt-8">
                        <a class="font-semibold bg-rered text-white rounded-full px-8 py-2 hover:bg-reorange" href="" target="_blank">
                            Lire l'enquête
                        </a>
                    </div>                    
                </div>   
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .sensibilisation.title }}</h4>
                    <p class="mt-4">{{ .sensibilisation.text | markdownify }}</p>
                </div>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .plateforme.title }}</h4>
                    <p class="mt-4">{{ .plateforme.text | markdownify }}</p>
                    <div class="w-full mt-8">
                        <img src="/img/page-rapport-2024/plateforme.png" alt="" aria-hidden="true"/>
                    </div>
                    <div class="flex flex-row flex-wrap text-white justify-center mt-8"> 
                        {{ range .plateforme.facts }}
                            <div class="py-4 md:px-8 w-full md:w-1/2">
                                <div class="flex flex-col items-center">
                                    <div class="mb-4 text-white bg-reorange rounded-full h-8 w-8 font-semibold flex items-center justify-center">{{ .number }}</div>
                                    <img src="/img/page-rapport-2024/down-orange-arrow.svg" alt="">
                                    <div class="mt-4 text-center font-semibold text-rered">{{ .text }}</div>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>   
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .collectes.title }}</h4>
                    <p class="mt-4">{{ .collectes.text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap mt-4">
                        <div class="w-full md:w-1/2 md:pr-4 mt-4">
                            <img src="/img/page-rapport-2024/collecte-1.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pl-4 mt-4">
                            <img src="/img/page-rapport-2024/collecte-2.png" alt="" aria-hidden="true"/>
                        </div>
                    </div> 
                </div> 
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .deret.title }}</h4>
                    <p class="mt-4">{{ .deret.text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap mt-4">
                        <div class="w-full md:w-1/2 md:pr-4 mt-4">
                            <img src="/img/page-rapport-2024/deret-1.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pl-4 mt-4">
                            <img src="/img/page-rapport-2024/deret-2.png" alt="" aria-hidden="true"/>
                        </div>
                    </div>                      
                </div> 
            </div>
            {{ end }}

            <!-- CHANGER -->
            {{ with .Params.changer }}
            <div class="hidden p-4  text-repurple" id="changer" role="tabpanel" aria-labelledby="changer-tab">
                <h3 class="text-rered text-center text-xl md:text-2xl mb-4 font-unbounded font-bold">{{ .intro.title | markdownify }}</h3>
                <p class="w-full md:w-3/4 mx-auto text-rered text-center">{{ .intro.text }}</p>
                <img class="mt-8 rounded-xl" src="/img/page-rapport-2024/banniere-page-5.png" alt="" aria-hidden="true"/>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .communaute.title }}</h4>
                    <p class="mt-4">{{ .communaute.first_text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap text-white justify-center mt-8"> 
                        {{ range .communaute.numbers }}
                            <div class="py-2 w-full md:w-1/3">
                                <div class="flex flex-row justify-center rounded-xl bg-repurple px-6 md:px-12 py-4 md:py-8 h-full md:mr-2 md:ml-2">
                                    <div class="flex flex-col justify-center items-center">
                                        <div class="w-16 h-12 mb-4 flex justify-center items-center">
                                            <img src="{{ .img }}" alt="" aria-hidden="true"/>
                                        </div>
                                        <div class="text-xl font-bold text-center">{{ .number }}</div>
                                    </div>
                                </div>
                            </div>
                        {{ end }}                   
                    </div>
                    <p class="mt-4">{{ .communaute.second_text | markdownify }}</p>               
                </div>   
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .campagnes.title }}</h4>
                    <p class="mt-4">{{ .campagnes.first_text | markdownify }}</p>
                    <div class="w-full mt-8">
                        <img src="/img/page-rapport-2024/chiffres-foot.png" alt="Un tiers des joueuses sons stressées quand elles vont à l'entraînement pendant leurs règles; 1 joueuse sur 3 a ressenti de l'appréhension lors de ses premières règles; Plus de la moitié des joeuses se sentent ralenties dans leur progression sportive à cause de leurs règles; Près de 40% des joueuses ont dû manquer un match à cause de leurs règles; Près d'1 joueuse sur 2 ne se sent pas à l'aise de parler de ses règles dans son club; 51% des répondantes trouvent utile d'être sensibilisées à la question du lien entre sport et règles; Près de 80% des répondantes pensent qu'il n'existe pas ou très peu d'informations sur le lien entre règles et sport; 7 joueuses sur 10 se sentent moins perofrmantes pendant un match si elles sont leurs règles; Près de 40% des répondantes estiment que le sujet des règles est tabou dans le sport."/>
                    </div>                    
                    <div class="mt-8">
                        <a class="font-semibold bg-rered text-white rounded-full px-8 py-2 hover:bg-reorange" href="https://doccollectes.blob.core.windows.net/statics/enquete_regles_et_sport.pdf" target="_blank">
                            Lire l'enquête
                        </a>
                    </div>  
                    <p class="mt-8">{{ .campagnes.second_text | markdownify }}</p>    
                    <div class="flex flex-row flex-wrap mt-4">
                        <div class="w-full md:w-1/2 md:pr-2 md:pl-2 mt-4">
                            <img src="/img/page-rapport-2024/foot-1.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pr-2 md:pl-2 mt-4">
                            <img src="/img/page-rapport-2024/foot-2.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pr-2 md:pl-2 mt-4">
                            <img src="/img/page-rapport-2024/foot-3.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pr-2 md:pl-2 mt-4">
                            <img src="/img/page-rapport-2024/foot-4.png" alt="" aria-hidden="true"/>
                        </div>
                    </div>              
                </div>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .dispositif.title }}</h4>
                    <p class="mt-4">{{ .dispositif.text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap text-white justify-center mt-8"> 
                        {{ range .dispositif.items }}
                            <div class="py-2 w-full md:w-1/2 odd:md:pr-2 even:md:pl-2">
                                <div class="shadow-lg flex flex-col items-center h-full pb-4 md:pb-8">     
                                    <div class="mb-4 flex justify-center items-center">
                                        <img src="{{ .img }}" alt="" aria-hidden="true"/>
                                    </div>
                                    <div class="mb-4 flex justify-center items-center">
                                        <img src="/img/page-rapport-2024/down-orange-arrow.svg" alt="" aria-hidden="true"/>
                                    </div>
                                    <div class="text-lg md:text-xl font-bold text-rered text-center px-8">{{ .text }}</div>  
                                    {{ with .link }}
                                        <div class="mt-4">
                                            <a class="font-semibold bg-rered text-white rounded-full px-8 py-2 hover:bg-reorange" href="{{ .url }}" target="_blank">
                                                {{ .text }}
                                            </a>
                                        </div> 
                                    {{ end }}                
                                </div>
                            </div>
                        {{ end }}                   
                    </div>            
                </div> 
                <div class="w-full rounded-xl text-rered mx-auto mt-14 bg-rebeigera py-6 md:py-12 px-6">
                    <div class="w-11/12 md:w-5/6 mx-auto flex flex-col items-center">
                        <h4 class="font-semibold text-xl">{{ .revue.title }}</h4>                   
                        <div class="mt-8 w-full md:w-4/5 flex items-center">
                            <img src="/img/page-rapport-2024/presse.png" alt="Des extraits d'articles de presse dont france info, la dépêche et le mouv." aria-hidden="true">
                        </div>  
                        <div class="mt-8">
                            <a class="font-semibold bg-rered text-white rounded-full px-8 py-2 hover:bg-reorange" href="" target="_blank">
                                {{ .revue.link_text }}
                            </a>
                        </div>                          
                    </div>                                                     
                </div> 
            </div>
            {{ end }}

            <!-- EQUIPE -->
            {{ with .Params.equipe }}
            <div class="hidden p-4  text-repurple" id="equipe" role="tabpanel" aria-labelledby="equipe-tab">
                <h3 class="text-rered text-center text-xl md:text-2xl mb-4 font-unbounded font-bold">{{ .intro.title | markdownify }}</h3>
                <p class="w-full md:w-3/4 mx-auto text-rered text-center">{{ .intro.text }}</p>
                <img class="mt-8" src="/img/page-rapport-2024/banniere-page-6.png" alt="" aria-hidden="true" />
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .recrutement.title }}</h4>                
                    <p class="mt-4">{{ .recrutement.text | markdownify }}</p>
                    <div class="w-full mt-8">
                        <img src="/img/page-rapport-2024/erasmus.png" alt="" aria-hidden="true"/>
                    </div>  
                </div>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .perennisation.title }}</h4>                
                    <p class="mt-4">{{ .perennisation.text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap mt-4">
                        <div class="w-full md:w-1/2 md:pr-4 mt-4">
                            <img src="/img/page-rapport-2024/lancement-pr.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pl-4 mt-4">
                            <img src="/img/page-rapport-2024/marathon.png" alt="" aria-hidden="true"/>
                        </div>
                    </div> 
                </div>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">{{ .structuration.title }}</h4>                
                    <p class="mt-4">{{ .structuration.text | markdownify }}</p>
                    <div class="flex flex-row flex-wrap mt-4">
                        <div class="w-full md:w-1/2 md:pr-4 mt-4">
                            <img src="/img/page-rapport-2024/justine.png" alt="" aria-hidden="true"/>
                        </div>
                        <div class="w-full md:w-1/2 md:pl-4 mt-4">
                            <img src="/img/page-rapport-2024/campagne-pr.png" alt="" aria-hidden="true"/>
                        </div>
                    </div> 
                </div>
                <div class="w-11/12 md:w-5/6 mx-auto border-t-2 mt-14 border-repurple">
                    <h4 class="mt-8 font-semibold text-xl">Organigramme</h4>
                    <div class="flex flex-row flex-wrap my-8 justify-center">
                        <img class="w-full" src="/img/page-rapport-2024/organigramme-2024.png" alt="Au sommet, le conseil d'administration, puis directement sous lui, la direction générale composée de 5 postes. 2 pôles sont transverses: le pôle RH avec 3 postes et le pôle tech avec 1 poste. 4 pôles sont au coeur de l'association: le pôle opération et développement avec 3 postes; le pôle communication et partenariats avec 5 postes; le pôle éducation et formation avec 7 postes; enfin le pôle territoires avec 5 postes." />
                    </div>    
                </div>                
            </div>
            {{ end }}
        </div>
    </div>

</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>        
    $(document).ready(function(){
        $('#carousel-events').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            prevArrow: $('#prev-events'),
            nextArrow: $('#next-events')
        });
    });

    // ACCORDION
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("accordion-active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    // READ MORE
    var readMoreButtons = document.getElementsByClassName("read-more-button");

    for (i = 0; i < readMoreButtons.length; i++) {
        readMoreButtons[i].addEventListener("click", function() {
            var text = this.previousElementSibling.firstElementChild;
            text.classList.toggle("hidden");
            this.classList.toggle("hidden");
        });
    }

</script>                    

<style>
    #mainTabContainer {
        background-color: #FCE0D2;
    }
    @media (min-width: 768px) { 
        #mainTabContainer {
            border-bottom : 1px solid rgba(101, 63, 146, 0.5);
            background-color: transparent;
            border-radius: 0px;
        }
    }

    #mainTab li button[aria-selected="true"] {
        color: #643F92;
        border-bottom : 2px solid #643F92;
    }

    #mainTab li button[aria-selected="false"] {
        color: rgba(101, 63, 146, 0.5);
    }

    #mainTab li button[aria-selected="false"]:hover {
        color: rgba(101, 63, 146, 0.8);
        border-bottom : 2px solid rgba(101, 63, 146, 0.8);
    }    

    #eventsTab {
        box-shadow: inset 6px 6px 7px #D8D8D8;
    }

    #eventsTab li button[aria-selected="true"] {
        padding-bottom: 1.5rem;
    }

    #eventsTab li button[aria-selected="false"] {
        padding-bottom: 2rem;
    }

    #eventsTab li button[aria-selected="true"] .month-title {
       display: inline-block;
    }

    #eventsTab li button[aria-selected="true"] .goutte-img {
        background-image: url("/img/page-rapport/goutte-purple.png");
    }

    #eventsTab li button[aria-selected="false"] .month-title {
        display: none;
    }

    #eventsTab li button[aria-selected="false"] .goutte-img {
        background-image: url("/img/page-rapport/goutte-pink.png");
    }

    .slick-track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    .slick-track .slick-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ACCORDION */
    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
    }
  
    /* Style the arrow button */
    .dropdown-arrow {
        transform: rotate(180deg);
        transition: 0.5s;
    }

    .accordion-active .dropdown-arrow {
        transform: rotate(0deg);
    }
  
    /* Style the accordion panel. Note: hidden by default */
    .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    } 

    .panel ul {
        list-style-type: disc;
        padding-left: 1rem;
    }
</style>
{{ end }}