{{ define "main" }}
<div>
    {{ partial "page-desc" . }}
    <div class="w-10/12 md:w-10/12 mx-auto mb-4 flex flex-col items-stretch">

        <!--<scroll-container style="scroll-behavior: smooth; overflow-y: scroll;"><scroll-page id="haForm"></scroll-page></scroll-container>-->

        <iframe class="mt-4" id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/regles-elementaires/formulaires/4/widget" style="width:100%;height:1440px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe>

        <div class="w-full md:w-2/3 mx-auto text-center px-8 md:px-16 mb-4">
            <h1 class="text-rered font-extrabold tracking-tight text-2xl mt-8 pb-2 uppercase">
                {{ .Params.title_block.title }}
            </h1>
            <p class="font-medium tracking-tighter pb-8 text-rered">
                {{ .Params.title_block.text }}
            </p>
        </div>

        <div class="flex flex-wrap justify-around">
            {{ range .Params.payments }}
                {{if isset . "link"}}
                    <a href="{{.link}}" target="_blank"
                        class="w-full md:w-1/4 relative px-2 pt-4 mt-12 mb-8 flex flex-row cursor-pointer"
                        onclick="gtag('event', 'clicDonnerDonsFinanciers', {
                            'event_category': 'Dons Financiers',
                            'event_label': 'don_soutenir',
                          });">
                {{else}}
                    <div class="w-full md:w-1/3 relative px-2 pt-4 mt-12 mb-8 flex flex-row">
                {{end}}
                
                    <div class="bg-rered w-full rounded-lg text-white px-4 pb-4 md:pb-0">
                        <div class="absolute inset-x-0 px-8 -mt-16">
                            <div class="flex flex-col items-center w-full">                                
                                    <img class="h-32" src="{{.img}}" alt=""/>
                            </div>
                        </div>
                        <div class="mt-4 pt-20 md:pb-8 text-center rounded-lg flex-grow">
                            <p class="uppercase font-bold text-sm">                                
                                {{.text}}                                
                            </p>
                            <p class="text-sm">{{ .subtext | markdownify }}</p>
                            {{if isset . "address"}}
                                <p class="text-sm mt-4">
                                    {{.address | markdownify}}
                                </p>
                            {{end}}
                            {{if isset . "link"}}
                            <button class="big-white-button big-white-button--rounded mt-8">
                                FAIRE UN DON
                            </button>
                            {{end}}
                        </div>
                    </div>
                    
                {{if isset . "link"}}
                    </a>
                {{else}}
                    </div>
                {{end}}
                
            {{end}}
        </div>

    </div>
</div>
{{ end }}