{{ define "main" }}
<div>
  <div class="w-11/12 md:w-10/12 px-4 pt-8 text-rered -mb-8 mx-auto">
    {{ partial "breadcrumb" . }}
  </div>
  
    <div class="w-11/12 md:w-10/12 m-auto flex flex-row flex-wrap mt-12">
    {{ range .Site.Data.partenaires }}
        {{ if eq .type "redistributeur"}}
        {{ $partner := . }}
        {{ with .story }}
        <div class="story w-full md:w-1/3 p-3">
            <div class="flex flex-col h-full w-full bg-repink border-4 border-repink rounded-md">
                <div class="bg-white h-24 rounded-md mb-8">
                    <img class="w-full h-full object-scale-down py-2" src={{$partner.img}}>
                </div>
                <div class="mb-4 self-center bg-white text-rered font-bold px-1 text-center">
                    <h4 class="relative text-xl -my-2 uppercase" style="top: -0.4rem;">{{$partner.name}}</h4>
                </div>
                <div class="self-center text-rered text-center px-4 font-medium">
                    {{ substr $partner.story 0 200 }}...
                </div>
                <button class="modal-open w-1/2 text-sm md:text-base bg-rered rounded-full text-white font-medium uppercase text-center p-2 self-center my-4">
                   Lire la suite
                </button>
            </div>
        </div>
        {{ partial "redistribuer/modal-story" $partner }}
        {{ end }}
        {{ end }}
    {{ end }}
    </div>

    {{ partial "projet/moi-aussi" . }}

    <script>
        var openmodal = document.querySelectorAll('.modal-open')
        for (var i = 0; i < openmodal.length; i++) {
          openmodal[i].addEventListener('click', function(event){
            event.preventDefault()
            openModal(event.target)
          })
        }
        
        var overlay = document.querySelectorAll('.modal-overlay')
        for (var i = 0; i < overlay.length; i++) {
            overlay[i].addEventListener('click', closeModal)
        }
        
        var closemodal = document.querySelectorAll('.modal-close')
        for (var i = 0; i < closemodal.length; i++) {
            closemodal[i].addEventListener('click', closeModal)
        }
        
        document.onkeydown = function(evt) {
          evt = evt || window.event
          var isEscape = false
          if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc")
          } else {
            isEscape = (evt.keyCode === 27)
          }
          if (isEscape && document.body.classList.contains('modal-active')) {
            toggleModal()
          }
        };
        
        
        function openModal(button) {
            console.log(button);
            const body = document.querySelector('body')
            const modal = button.closest('.story').nextElementSibling
            console.log(modal)
            modal.classList.toggle('is-open')
            modal.classList.toggle('opacity-0')
            modal.classList.toggle('pointer-events-none')
            body.classList.toggle('modal-active')
        }

        function closeModal() {
            const body = document.querySelector('body')
            const modal = document.querySelector('.is-open')
            console.log(modal)
            modal.classList.toggle('is-open')
            modal.classList.toggle('opacity-0')
            modal.classList.toggle('pointer-events-none')
            body.classList.toggle('modal-active')
        }
        
         
      </script>

    <style>
        .modal {
          transition: opacity 0.20s ease;
        }
        body.modal-active {
          overflow-x: hidden;
          overflow-y: visible !important;
        }
    </style>
</div>
{{ end }}