{{ define "main" }}
<div>
    <div class="w-11/12 md:w-10/12 m-auto flex flex-row flex-wrap mt-12">
    {{ range .Site.Data.partenaires }}
        {{ if eq .type "redistributeur"}}
        <div class="w-full md:w-1/3 p-3">
            <div class="flex flex-col h-64 w-full bg-repink border-4 border-repink rounded-md">
                <div class="bg-white h-24 rounded-md mb-8">
                    <img class="w-full h-full object-scale-down py-2" src={{.img}}>
                </div>
                <div class="mb-4 self-center bg-white text-rered font-bold px-1 text-center">
                    <h4 class="relative text-xl -my-2 uppercase" style="top: -0.4rem;">{{.name}}</h4>
                </div>
                <a class="w-1/2 bg-rered rounded-full text-white font-medium text-center p-2 self-center"
                href=""  target="_blank">
                   LIRE LA SUITE
                </a>
            </div>
        </div>
        {{ end }}
    {{ end }}
    </div>
    {{ partial "projet/moi-aussi" . }}
</div>
{{ end }}