{{ define "main" }}
<div>
    {{ partial "redistribuer/page-desc" . }}
    <div class="container pt-8">
        <div class="md:px-16">
            {{with .Params.fonctionnement }}
            <div class="flex flex-col md:flex-row md:items-stretch text-rered">
                <div class="w-full md:w-3/5 px-8 pb-4">
                    <h2 class="text-redarkpink text-2xl uppercase font-bold mb-8">
                        {{.title1}}
                        <span class="text-rered">{{.title2}}</span>
                    </h2>
                    <div class="flex flex-col items-center text-sm md:text-base">
                        <div>
                            {{.text1}}
                        </div>
                        <div class="pt-4">
                            {{.text2}}
                        </div>                       
                    </div>
                </div>
                <div class="w-full md:w-2/5 px-8 md:pb-4 self-center">
                    <img class="w-4/5 m-auto" src="{{.photo}}" />
                </div>
            </div>
            {{end}}
        </div>

        {{ partial "redistribuer/carousel" . }}
        <div class="py-4 md:py-8 flex flex-row justify-center">
            <button class="big-red-button big-red-button--rounded"
            onclick="displayAllPartners(this)"
            >
                Voir tous nos partenaires
            </button>
        </div>
        {{ partial "redistribuer/partenaire-list" . }}
    </div>
    
    {{ partial "projet/moi-aussi" . }}

    <script>
        function displayAllPartners(button) {
            document.getElementById("carousel-redistributeurs").parentNode.classList.add("hidden");
            button.parentNode.classList.add("hidden");
            document.getElementById("full-partner-list").classList.remove("h-0", "opacity-0", "hidden");
            document.getElementById("full-partner-list").classList.add("py-8");
        }
    </script>

</div>
{{ end }}