{{ define "main" }}
<div>
    {{ partial "page-desc" . }}
    <div class="container pt-8 mb-8">
        <div class="md:px-16">
            {{with .Params.fonctionnement }}
            <div class="flex flex-col md:flex-row md:items-stretch text-rered">
                <div class="w-full md:w-3/5 px-8 pb-4">
                    <h2 class="text-rered text-xl md:text-2xl uppercase font-extrabold mb-8">
                        {{.title}}
                    </h2>
                    <div class="flex flex-col items-center tracking-tighter font-medium">
                        <div>
                            {{.text1}}
                        </div>
                        <div class="pt-4">
                            {{.text2}}
                        </div>                       
                    </div>
                    <div class="flex justify-center">
                        <a class="big-red-button big-red-button--rounded my-12"  target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSefC1PRfnqPT0SafjXoU4UC8Hznrhwo0Zw4Rig25YxCciCgKw/viewform?usp=sf_link"
                        onclick="gtag('event', 'clicDevenirPartenaire', {
                            'event_category': 'Partenaires',
                            'event_label': 'page_redistributeurs',
                        });">
                            {{ $.Params.devenir_button }}
                        </a>
                    </div>
                </div>
                <div class="w-full md:w-2/5 px-8 md:pb-4 self-center">
                    <img class="w-4/5 m-auto" src="{{.photo}}" alt="transmission de dons entre un membre de règles élémentaires et un partenaire redistributeur"/>
                </div>
            </div>
            {{end}}
        </div>

        {{ partial "redistribuer/carousel" . }}
        <div class="pb-4 flex flex-row justify-center">
            <button class="flex flex-col w-32 self-center text-rered items-center" 
            onclick="displayAllPartners(this)"
            >
                voir tous les partenaires
                <img class="mt-2" src="/img/page-nos-partenaires/fleche_bas_slider.svg" alt="voir tous les partenaires"/>
            </button>
        </div>
        {{ partial "redistribuer/partenaire-list" . }}
    </div>

    <script>
        function displayAllPartners(button) {
            document.getElementById("carousel-redistributeurs").parentNode.classList.add("hidden");
            button.parentNode.classList.add("hidden");
            document.getElementById("full-partner-list").classList.remove("h-0", "opacity-0", "hidden");
            document.getElementById("full-partner-list").classList.add("py-8");
        }
    </script>

</div>
{{ end }}