{{ define "main" }}
<div>
    {{ partial "page-desc" . }}
    <div class="w-11/12 md:w-5/6 m-auto">

        <div class="w-11/12 md:w-fit mx-auto text-center my-12 tracking-tight font-medium py-4 text-rered px-8 shadow-lg">
            {{ .Params.main_title }}
        </div>      

        <div class="w-full mx-auto mb-8 tracking-tight">
            <div class="flex flex-wrap justify-center">
                <div class="w-11/12 md:w-1/2 md:border-reorange md:border-r-2">
                    <div class="w-full h-full flex flex-col md:w-5/6 mx-auto">
                        <div class="mb-4 hidden md:flex">
                            <img class="mx-auto" src="/img/page-collecte/fleche.svg" alt="" aria-hidden="true" />
                        </div>                        
                        <h2 class="bg-reorange text-white py-4 px-8 rounded-xl uppercase font-bold text-center text-xl">
                            {{ .Params.supermarket.title }}
                        </h2>
                        <div class="mt-4 border-reorange border-2 rounded-xl flex flex-col py-4 px-6">
                            <div class="mt-4 flex flex-row font-bold">
                                <img class="w-4 self-center mr-2" src="/img/page-collecte/mapmarker.svg"  alt="" aria-hidden="true"/>
                                <div>
                                    <span class="text-reorange">{{ .Params.supermarket.place_text}}</span>
                                    <span class="ml-1 text-rered">{{ .Params.supermarket.place_value}}</span>
                                </div>                      
                            </div>
                            <div class="mt-4 flex flex-row font-bold">
                                <img class="h-8 w-4 self-center mr-2" src="/img/page-collecte/personne-seule.svg"  alt="" aria-hidden="true"/>
                                <div>                          
                                    <span class="text-reorange">{{ .Params.supermarket.people_text}}</span>
                                    <span class="ml-1 text-rered">{{ .Params.supermarket.people_value}}</span>
                                </div> 
                            </div>
                            <div class="mt-4 flex flex-row font-bold">
                                <img class="w-4 h-4 self-center mr-2" src="/img/page-collecte/timer.png"  alt="icône durée"/>       
                                <div>                     
                                    <span class="text-reorange">{{ .Params.supermarket.duration_text}}</span>
                                    <span class="ml-1 text-rered">{{ .Params.supermarket.duration_value}}</span>
                                </div>
                            </div>
                            <div class="mt-6 mb-4 text-center text-reorange uppercase font-bold">
                                <div class="w-fit mx-auto border-reorange border-2 rounded-full py-2 px-4">
                                    <a class="" href="https://doccollectes.blob.core.windows.net/statics/Guide Collecte Supermarché.pdf" target="_blank">{{ .Params.supermarket.guide_text }}</a>
                                </div>                            
                            </div>
                        </div>
                        <div class="mt-6 text-rered">
                            <p>{{ .Params.supermarket.text | markdownify }}</p>
                        </div>
                        <img class="mt-8 mb-4" src="{{ .Params.supermarket.img.link }}" alt="{{ .Params.supermarket.img.alt }}"/>
                        {{ partial "collecter/bouton-organiser" .Params.supermarket.button }}
                    </div>                    
                </div>
                <div class="w-11/12 md:w-1/2">
                    <div class="w-full h-full flex flex-col md:w-5/6 mx-auto">
                        <div class="mb-4 hidden md:flex">
                            <img class="mx-auto -scale-x-100" src="/img/page-collecte/fleche.svg" alt="" aria-hidden="true" />
                        </div>                        
                        <h2 class="bg-reorange text-white py-4 px-8 rounded-xl uppercase font-bold text-center text-xl">
                            {{ .Params.individual.title }}
                        </h2>
                        <div class="mt-4 border-reorange border-2 rounded-xl flex flex-col py-4 px-6">
                            <div class="mt-4 flex flex-row font-bold">                                
                                <img class="w-4 self-center mr-2" src="/img/page-collecte/mapmarker.svg"  alt="" aria-hidden="true"/>
                                <div>                         
                                    <span class="text-reorange">{{ .Params.individual.place_text}}</span>
                                    <span class="ml-1 text-rered">{{ .Params.individual.place_value}}</span>
                                </div>
                            </div> 
                            <div class="mt-4 flex flex-row font-bold">                                
                                <img class="h-8 w-4 self-center mr-2" src="/img/page-collecte/personne-seule.svg"  alt="" aria-hidden="true"/>
                                <div>                        
                                    <span class="text-reorange">{{ .Params.individual.people_text}}</span>
                                    <span class="ml-1 text-rered">{{ .Params.individual.people_value}}</span>
                                </div>
                            </div> 
                            <div class="mt-4 flex flex-row font-bold">
                                <img class="w-4 h-4 self-center mr-2" src="/img/page-collecte/timer.png"  alt="icône durée"/>
                                <div>                          
                                    <span class="text-reorange">{{ .Params.individual.duration_text}}</span>
                                    <span class="ml-1 text-rered">{{ .Params.individual.duration_value}}</span>
                                </div>
                            </div>
                            <div class="mt-6 mb-4 text-center text-reorange uppercase font-bold">
                                <div class="w-fit mx-auto border-reorange border-2 rounded-full py-2 px-4">
                                    <a class="" href="https://doccollectes.blob.core.windows.net/statics/Guide Collecte Individuelle.pdf" target="_blank">{{ .Params.supermarket.guide_text }}</a>
                                </div>                            
                            </div>
                        </div>
                        <div class="mt-6 text-rered">
                            <p>{{ .Params.individual.text | markdownify }}</p>
                        </div>
                        <img class="mt-8 mb-4" src="{{ .Params.individual.img.link }}" alt="{{ .Params.individual.img.alt }}"/>
                        {{ partial "collecter/bouton-organiser" .Params.individual.button }}
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}