/* Modules */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*
=== GENERIC
*/ 
.big-red-button {
  @apply uppercase bg-rered text-white p-4 px-8 rounded-lg;
}
.big-red-button--rounded {
  @apply rounded-full;
}
.big-red-button:hover {
  @apply underline;
}

.underlined-link {
  @apply py-4 border-b-2 uppercase font-bold text-sm;
}
.underlined-link--red {
  @apply border-rered text-rered;
}
.underlined-link--red:hover {
  @apply text-redarkpink border-redarkpink;
}
.underlined-link--white {
  @apply border-white text-white;
}
.underlined-link--white:hover {
  @apply text-repink border-repink;
}


.title-red {
  @apply text-xl text-rered uppercase font-bold;
}
.markdown p,
.markdown ul {
  @apply mb-4;
}
.markdown ul {
  @apply pl-4; 
  list-style: disc inside none;
}
.markdown h3 {
  @apply text-2xl text-white uppercase font-bold;
}

.title-with-shadow {
  @apply uppercase font-bold text-white;
}
@responsive {
  .title-shadow-lg {
    text-shadow: 7px 11px 1px #E9364B;
  }
}
@responsive {
  .title-shadow-sm {
    text-shadow: 4px 6px 1px #E9364B;
  }
}
/* 
=== NAV ===
*/
.menu-item-space {
  @apply px-2 pb-2 text-base cursor-pointer;
}
.menu-item-space a {
  @apply pb-2 pt-2;
}
.menu-item--hover:hover {
  @apply underline;
}
@screen sm {
  .menu-item--hover:hover {
    @apply border-b-4 border-rered no-underline;
  }
}
@screen lg {
  .menu-item-space {
    @apply pt-2 pb-0 px-2;
  }
}
.sub-menu-item {
  @apply px-3 uppercase whitespace-no-wrap;
}
.sub-menu-item:hover a{
  @apply border-b-2;
}
/*
=== HEADER ===
*/
.desc__content a{
  @apply text-redarkgrey underline;
}
.page-desc--red .desc__content a {
  @apply text-white underline;

}
/*
=== HOME ===
*/
.home {
  background-image: url("/img/page-home/img-hero.jpg");
  height: 75vh;
}
/*
=== EQUIPE ===
*/

/* customize bio p */
.equipe__membre-bio p {
  @apply mt-2;
}

/* change picture on hover */
.equipe__membre:focus .equipe__pic,
.equipe__membre:hover .equipe__pic {
  @apply bg-rered;
}
.equipe__membre:focus .equipe__pic img,
.equipe__membre:hover .equipe__pic img {
  @apply opacity-50;
}

/* display bio on hover */
.equipe__membre:focus .equipe__membre-bio--block,
.equipe__membre:hover .equipe__membre-bio--block {
  @apply block;
  z-index: 10;
  left: 100%;
  right: -150%;
}
@responsive {
  .equipe__membre:nth-child(2n) .equipe__membre-bio--2n {
    left: -150%;
    right: 100%;
  }
  .equipe__membre:nth-child(2n) .equipe__membre-bio--3n {
    left: 100%;
    right: -150%;
  }
  .equipe__membre:nth-child(3n) .equipe__membre-bio--3n {
    left: -150%;
    right: 100%;
  }
  .equipe__membre:nth-child(2n) .equipe__membre-bio--4n {
    left: 100%;
    right: -150%;
  }
  .equipe__membre:nth-child(3n) .equipe__membre-bio--4n {
    left: 100%;
    right: -150%;
  }
  .equipe__membre:nth-child(4n) .equipe__membre-bio--4n {
    left: -150%;
    right: 100%;
  }
}

/*
=== COLLECTE
*/
.collecte_step__text a {
  text-decoration: underline;
}