/* Modules */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.equipe__membre:focus .equipe__membre-bio--block,
.equipe__membre:hover .equipe__membre-bio--block {
  @apply block;
  z-index: 10;
  left: 100%;
  right: -150%;
}
.equipe__membre:focus .equipe__pic,
.equipe__membre:hover .equipe__pic {
  @apply bg-rered;
}
.equipe__membre:focus .equipe__pic img,
.equipe__membre:hover .equipe__pic img {
  @apply opacity-50;
}

@responsive {
  .equipe__membre:nth-child(2n) .equipe__membre-bio--2n {
    left: -150%;
    right: 100%;
  }
  .equipe__membre:nth-child(2n) .equipe__membre-bio--3n {
    left: 100%;
    right: -150%;
  }
  .equipe__membre:nth-child(3n) .equipe__membre-bio--3n {
    left: -150%;
    right: 100%;
  }
  .equipe__membre:nth-child(2n) .equipe__membre-bio--4n {
    left: 100%;
    right: -150%;
  }
  .equipe__membre:nth-child(3n) .equipe__membre-bio--4n {
    left: 100%;
    right: -150%;
  }
  .equipe__membre:nth-child(4n) .equipe__membre-bio--4n {
    left: -150%;
    right: 100%;
  }
}
