/* Modules */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
=== GENERIC
*/

.big-red-button {
  @apply uppercase bg-rered text-white p-4 px-8 rounded-lg inline-block font-medium text-center text-sm;
}
@screen md {
  .big-red-button {
    @apply text-base;
  }
}
.big-red-button--rounded {
  @apply rounded-full;
}
.big-red-button:hover {
  @apply bg-reorange;
}
.big-red-button:hover span{
  @apply text-reorange;
}

.big-white-button {
  @apply uppercase bg-white text-rered p-4 px-8 rounded-lg inline-block font-medium text-center text-sm;
}
@screen md {
  .big-white-button {
    @apply text-base;
  }
}
.big-white-button--rounded {
  @apply rounded-full;
}
.big-white-button:hover {
  @apply bg-rebeige;
}
.big-white-button:hover span{
  @apply text-white;
}

.underlined-link {
  @apply py-1 border-b-2 uppercase font-bold text-sm;
}
.underlined-link--red {
  @apply border-rered text-rered;
}
.underlined-link--red:hover {
  @apply text-redarkpink border-redarkpink;
}
.underlined-link--white {
  @apply border-white text-white;
}
.underlined-link--white:hover {
  @apply text-repink border-repink;
}

.title-red {
  @apply text-xl text-rered uppercase font-bold;
}
.markdown p,
.markdown ul {
  @apply mb-4;
}
.markdown ul {
  @apply pl-4;
  list-style: disc inside none;
}
.markdown h3 {
  @apply text-2xl text-white uppercase font-bold;
}

.title {
  @apply uppercase font-bold text-white;
}
.title-with-shadow {
  @apply uppercase font-bold text-white;
}
@responsive {
  .title-shadow-lg {
    text-shadow: 7px 11px 1px #e9364b;
  }
}
@responsive {
  .title-shadow-sm {
    text-shadow: 4px 6px 1px #e9364b;
  }
}
/* 
=== NAV ===
*/
.menu-item-space {
  @apply mx-2 mb-2 text-base cursor-pointer;
}
.menu-item-space a {
  @apply pb-2 pt-2;
}

.menu-item-space a svg {
  fill: #FF9A00;
}

.menu-item--hover:hover svg{
  fill: #FFF;
}

@screen lg {
  .menu-item-space {
    @apply mt-2 mb-0 mx-2;
  }
}

.don-menu {
  margin: -0.5rem 0;
}

/* Hover nav */

.hover-nav a {
  @apply pb-0 pt-0;
}

.hover-nav {
  display: none;
  min-width: 130%;
  white-space: nowrap;
}

.hover-nav:hover, .menu-item--hover:hover ~ .hover-nav {
  display: flex;
  position: absolute;
  z-index: 1;
  left: -2rem;
}

.hover-sub-nav {
  display: none;
  width: auto;
  white-space: nowrap;
}

.hover-sub-nav:hover {
  display: block;
  z-index: 1;
}

.hover-sub-nav-visible {
  display: block;
  z-index: 1;
}

.focus-nav, .focus-sub-nav {
  display: none;
  width: auto;
  white-space: nowrap;
}

.focus-nav:focus, .menu-item--focus:focus-within .focus-nav {
  display: block;
  z-index: 1;
}

.focus-sub-nav:focus, .menu-sub-item--focus:focus-within + .focus-sub-nav {
  display: block;
  z-index: 1;
}

.menu-item--focus:focus-within > button {
  @apply font-bold;
}

.sub-menu-item--hover:hover a {
  @apply font-bold;
  @apply border-b-2;
}

/*#nav {
  //overflow-x: hidden;
}*/

#mobile-nav {
  right: -100%;
  transition: 0.5s ease;
  overflow-x: hidden;
}

#mobile-nav ul li.has-mobile-submenu ul {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  visibility: hidden;
}

#mobile-nav ul li.has-mobile-submenu ul li.has-mobile-subsubmenu ul {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  visibility: hidden;
}

#mobile-nav ul li ul li {
  white-space: nowrap;
}

.btn-back, .btn-back-submenu {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  display: none;
}

.btn-back.show, .btn-back-submenu.show {
  display: block;
}

#mobile-nav ul {
  transition: 0.5s ease
}

#mobile-nav ul.slideOut {
  transform: translateX(-100%)
}

#mobile-nav ul.slideFarOut {
  transform: translateX(-200%)
}

#mobile-nav ul li.has-mobile-submenu ul.show {
  opacity: 1;
  visibility: visible;
}

#mobile-nav ul li.has-mobile-submenu ul li.has-mobile-subsubmenu ul.show {
  opacity: 1;
  visibility: visible;
}

#mobile-nav.slideIn {
  right: 0;
}


/*
=== HEADER ===
*/
.desc__content a {
  @apply font-semibold;
}
.desc__content a:hover {
  @apply underline;
}
.page-desc--red .desc__content a {
  @apply text-white underline;
}
/*
=== HOME ===
*/
.home {
  background-image: url("/img/page-home/bg-home-2.jpg");
  /*height: 100vh;*/
}

.agir-button:hover img, .agir-button:focus img {
  @apply flex;
}

.actions-container a:hover div img {
  @apply flex;
}
/*
=== EQUIPE ===
*/

.equipe-button-active h2 {
  @apply border-b-2 border-reorange no-underline;
}
@screen md {
  .equipe-button-active h2 {
    @apply border-b-4 border-reorange no-underline;
  }
}

/*
=== COLLECTE
*/
.collecte_step__text a {
  text-decoration: underline;
}

/* POPUP CREDIT MENSTRUEL */
.popup-img {
  background-image: url("/img/photo-popup-credit-menstruel-resized.jpg");
}

.bg-popup-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

/*
=== Actu
*/

/* Override markdown */
strong {
  font-weight: 500;
}

hr {
  border: none;
}
