{{ define "main" }}
<div>
    {{ partial "projet/page-desc" . }}
    {{ range $elem_index, $elem_val := .Params.actions }}
    {{ $isOdd := not (modBool $elem_index 2) }}
    <div class="p-8 bg-white {{if $isOdd}}bg-gray-100{{end}}">
        <div class="container flex flex-row">
            <div class="w-3/5 bg-repink">{{.title}}</div>
            <div class="w-2/5 px-2">
                <div class="flex flex-row flex-wrap -mx-4 relative">
                    <div class="bg-repink absolute top-0 left-0 h-full w-1/4"></div>
                    {{range $img_index, $img_val := .illu}}
                    {{ $afterTwo := gt $img_index 1 }}
                    <div class="w-/1/1 md:w-1/2 px-2 z-10 {{if $afterTwo}}hidden md:flex mb-0 {{else}} mb-4 {{end}}">
                        <img class="shadow-lg" src="{{$img_val}}" />
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{ end }}