{{ define "main" }}
<div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    {{ partial "page-desc" . }}
    <div class="container pt-8 mb-8">
        <h2 class="uppercase text-rered text-center font-extrabold text-xl md:text-3xl mb-12 mt-4">{{ .Params.mission_title }}</h2>
        <div class="px-8">
            <div class="w-full md:w-5/6 m-auto flex flex-col md:flex-row text-white tracking-tight text-center">
                {{with .Params.mission_first }}
                <img class="hidden md:flex absolute mt-20 -ml-16" src="{{.img}}" />
                <div class="w-full md:w-1/2 px-4 pb-4 flex flex-row justify-end items-start">
                    <div class="w-full md:w-5/6 bg-reorange py-8 px-8 md:px-16 rounded-lg flex flex-col items-center">
                        {{ partial "projet/big-title-white" (dict "title" .title "size" "3xl") }}
                        <div class="markdown mt-4">{{.content | markdownify }}</div>
                    </div>                    
                </div>
                {{end}}
                <div class="w-full md:w-1/2 px-4 pb-4 flex flex-col items-center">
                    {{with .Params.mission_second }}
                    <div class="bg-reorange py-8 px-8 md:px-16 rounded-lg flex flex-col items-center">
                        {{ partial "projet/big-title-white" (dict "title" .title "size" "3xl") }}
                        <div class="markdown mt-4">{{.content | markdownify }}</div>                        
                    </div>
                    <img class="hidden md:block w-1/2 h-64 -mt-12" src="{{.img}}" />
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    <div class="hidden md:flex">
        {{ range first 4 .Params.illuSpacing }}
        <div class="flex-grow"><img class="object-cover h-56 w-full" src="{{ . }}" /></div>
        {{end}}
    </div>
    <div class="w-11/12 md:w-5/6 mx-auto">
        <h1 class="text-center text-xl md:text-3xl mt-8 mb-2 uppercase font-extrabold text-rered px-8">{{.Params.numbers.title}}</h1>
        <p class="text-center text-rered px-8 font-medium tracking-tight">{{.Params.numbers.content}}</p>
        <div class="">
            <div class="flex flex-wrap justify-center">
                {{ range $elem_index, $elem_val := .Params.numbers.cards }}
                {{ $isOdd := not (modBool $elem_index 2) }}
                <div class="w-full sm:w-1/2 md:w-1/3 relative px-8 pt-8">
                    <div class="absolute inset-x-0 px-8">
                        <div class="flex flex-col items-center w-full"><img class="h-32" src="{{ .img }}" /></div>
                    </div>
                    <div class="bg-rered text-white mt-16 pt-16 text-center rounded-lg px-4 pb-4 {{if $isOdd}}bg-rebeige text-rered{{end}}">
                        <h3 class="text-xl md:text-2xl font-bold">{{.number}}</h3>
                        <p class="">{{.desc}}</p>
                    </div>
                </div>
                {{end}}

                
            </div>
        </div>
        
        <div class="flex flex-col items-center mt-8 md:mt-16">
            <div class="w-full md:w-2/3 mx-auto">
                <h3 class="text-center text-rered md:text-lg font-medium tracking-tight mb-4">
                    {{.Params.collectes.title}}
                </h3>
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
            <a class="big-red-button big-red-button--rounded my-12" href="/projet/actions">
                {{ .Params.action_button }}
            </a>
        </div>    
        
    </div>

    <script>
        const data = {
            labels: [
                "Décembre 2015",
                "Mars 2016",
                "Mars 2017",
                "Mars 2018",
                "Décembre 2018",
                "Mars 2019",
                "Juin 2019",
                "Juillet 2019",
                "Décembre 2019",
                "Mars 2020",
                "Octobre 2020",
                "Janvier 2021",
                "Juin 2021"
            ],
            datasets: [
                {
                    label: 'Nombre de produits collectés',
                    data: [20000, 50000, 100000, 200000, 300000, 400000, 600000, 1200000, 1500000, 3600000, 4000000, 5000000, 5500000],
                    borderColor: "#e9364b",
                    backgroundColor: "#FFE4DD",
                    fill: "start",
                    tension: 0.1
                }
            ]
        };

        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    filler: {
                        propagate: false,
                    },
                    title: {
                        display: false,
                        text: "Produits d'hygiène intime collectés par Règles Élémentaires"
                    },
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                },
                scales: {
                    x: {
                        ticks: {
                            color: '#e9364b',
                        }
                    },
                    y: {
                        ticks: {
                            color: '#e9364b',
                        }
                    }
                }
            }
        });
    </script>
</div>
{{ end }}