{{ define "main" }}
<div>
    {{ partial "projet/page-desc" . }}
    <div class="container">
        <h1 class="font-bold text-2xl text-center mt-16 pb-8"><span class="text-rered">LA MISSION</span><span
                class="text-redarkpink"> DE REGLES ELEMENTAIRES</span></h1>
        <div class="px-8">
            <div class="flex flex-col md:flex-row text-rered -mx-8">
                <div class="hidden xl:flex xl:w-1/6"></div>
                <div class="w-1/1 md:w-1/2 xl:w-1/3 px-8 pb-8">
                    <div class="bg-repink p-12 rounded-lg flex flex-col items-center">
                        <p class="text-center">{{.Params.mission.first }}</p>
                        <img class="hidden md:block w-1/2" src="/img/page-mission/illu-chiffres-1.png" />
                    </div>
                </div>
                <div class="w-1/1 md:w-1/2 xl:w-1/3 px-8 pb-8">
                    <div class="bg-repink p-12 rounded-lg flex flex-col items-center">
                        <p class="text-center">{{.Params.mission.second}}</p>
                        <img class="hidden md:block w-1/2" src="/img/page-mission/illu-chiffres-2.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        {{ range first 4 .Params.illuSpacing }}
        <div class="w-1/4"><img class="object-cover h-full" src="{{ . }}"/></div>
        {{end}}
    </div>
    <div class="container">
        <h1>{{.Params.numbers.title}}</h1>
        <p>{{.Params.numbers.content}}</p>
        <div class="flex mt-8 flex-wrap">
                {{ range .Params.numbers.cards }}
                <div class="w-1/3"><img class="object-cover h-full" src="{{ . }}"/></div>
                {{end}}
            </div>
    </div>
</div>
{{ end }}