<div class="w-full md:w-1/3 py-6 px-4 flex flex-col mb-8">
    <div class="h-full flex flex-col bg-rebeige items-center rounded-lg">
        <div class="w-1/2 -mt-12 flex">
            <img class="object-cover w-full rounded-lg" src="{{.Params.illu}}" alt=""/>
            {{ with .Params.logo }}
            <div class="w-24 h-24 absolute self-center ml-32 md:ml-40">
                <a href="{{$.Params.link}}" target="_blank" class="w-24 h-24">
                    <img src="{{.}}" class="object-contain rounded-full border-rebeige border-4 w-24 h-24 bg-white" />
                </a>
            </div>
        {{ end }}
        </div>
        
        <div class="w-5/6 text-center my-4">
            <h2 class="md:text-xl font-medium text-rered uppercase font-bold">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <div class="text-rered text-sm font-medium tracking-tighter border-none mt-4">
                {{ .Params.intro | markdownify }}
            </div>
            <div class="mt-8 mb-4">
                <a class="py-2 bg-white rounded-full text-rered uppercase px-8 text-sm md:text-base font-medium hover:bg-rered hover:text-white" href="{{ .Permalink }}">
                    lire la suite
                </a>
            </div>
        </div>
    </div>
    <div class="flex self-end px-4">
     
    </div>
</div>