{{ define "main" }}
{{ $sortedPages := sort .Pages ".Params.date" "desc" }}
<div class="bg-rered w-full flex flex-col">
    <h1 class="w-10/12 mx-auto uppercase font-bold text-3xl text-white mt-8">
        {{ .Params.intro_title | markdownify }}
    </h1>
    <div class="w-11/12 md:w-full m-auto flex flex-row flex-wrap mb-8">
        <div class="w-full md:w-1/2 pt-4 md:pt-12">
            <img class="w-3/4 mx-auto" src="/img/page-actus/actus.svg" alt="">
        </div>
        <div class="w-full md:w-1/2">
            {{ range (first 1 $sortedPages) }}
            {{ .Render "li-home"}}
            {{ end }}
        </div>
    </div>
</div>

<div class="w-11/12 md:w-5/6 m-auto py-4 px-2 mt-4">
    <div class="flex flex-row flex-wrap mt-8">
        {{ range first 6 (after 1 $sortedPages) }}
        {{ .Render "li-actus"}}
        {{ end }}
    </div>
</div>

<div id="button-actus" class="flex justify-center mb-8">
    <div class="flex flex-row justify-center">
        <button class="big-red-button big-red-button--rounded" onclick="displayAllActus()">
            {{ .Params.button_text }}
        </button>
    </div>
</div>

<div id="remaining-actus" class="w-11/12 md:w-5/6 m-auto px-2 -mt-2 hidden">
    <div class="flex flex-row flex-wrap">
        {{ range (after 7 $sortedPages) }}
            {{ .Render "li-actus"}}
        {{ end }}
    </div>
</div>

<div class="w-full bg-reorange text-white py-12">
    {{ with .Params.press }}
    <div class="w-10/12 md:w-5/6 mx-auto">
        <h2 class="uppercase text-xl md:text-2xl font-extrabold">{{ .title }}</h2>
        <div class="flex flex-row flex-wrap tracking-tighter mt-8">
            <div class="w-full mb-4 md:mb-0 md:w-1/2 md:pr-4">
                <p>
                    {{ .download_rdp_text }}
                    <a class="font-semibold hover:underline" href="{{ .download_rdp_link }}" download="regles-elementaires-revue-de-presse-2020.pdf"
                    onclick="gtag('event', 'clicRevueDePresse', {
						'event_category': 'RDP',
						'event_label': 'rdp_2020',
					});">
                        ici.
                    </a>
                </p>
                <p>                
                    {{ .download_top_text }}
                    <a class="font-semibold hover:underline" href="{{ .download_top_link }}" download="regles-elementaires-top-articles-2015-2020.pdf"
                    onclick="gtag('event', 'clicRevueDePresse', {
						'event_category': 'RDP',
						'event_label': 'top_articles',
					});">
                        ici.
                    </a>
                </p>
            </div>
            <div class="w-full md:w-1/2 md:pl-4">
                {{ .contact_text }}
                <a class="font-semibold hover:underline" href="mailto:{{ $.Site.Data.copyright.presse }}" target="_blank">
                    {{ $.Site.Data.copyright.presse }}
                </a>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<div class="w-full bg-white py-12">
    <div class="w-10/12 md:w-5/6 mx-auto flex flex-wrap items-center">    
        <h2 class="w-full uppercase text-rered text-xl md:text-2xl font-extrabold mb-4">{{ .Params.media_title }}</h2>
        {{ range .Params.medias }}
            <div class="w-1/2 md:w-1/6 py-4 px-4 md:px-8">
                <a href="{{.link}}" target="_blank"><img src="{{.logo}}" title="{{.title}}" alt ="Article {{.title}}"/></a>
            </div>
        {{ end }}
    </div>
</div>

<!--
<div class="w-full bg-rebeige py-12">
    <div class="w-10/12 md:w-5/6 mx-auto flex flex-wrap">    
        <h2 class="w-full uppercase text-rered text-xl md:text-2xl font-extrabold mb-4">{{ .Params.agenda.title }}</h2>
        {{ range $i, $content := first 3 (sort $.Site.Data.events "date" "asc") }}
            <div class="w-1/3">
                <div class="bg-white rounded-lg {{ if eq $i 0 }} mr-4 {{ else if eq $i 2 }} ml-4 {{ else }} mx-4 {{ end }} p-4 text-rered">
                    <h3 class="text-lg font-bold text-center">{{ .name }}</h3>
                    <p>{{ dateFormat "02.01.2006 15:04" .date.Local }}</p>
                    <p>{{ .place }}</p>
                </div>
            </div>
        {{ end }}
    </div>
</div>
-->

<script>
    function displayAllActus() {
        document.getElementById("button-actus").classList.add("hidden");
        document.getElementById("remaining-actus").classList.remove("hidden");
    }
</script>

{{ end }}