{{ define "main" }}
{{ $sortedPages := sort .Pages ".Params.date" "desc" }}
<div class="bg-rered w-full flex flex-col">
    <h1 class="w-10/12 mx-auto uppercase font-bold text-3xl text-white mt-8">
        {{ .Params.intro_title | markdownify }}
    </h1>
    <div class="w-11/12 m-auto flex flex-row flex-wrap mb-8">
        <div class="w-full md:w-2/5 pt-4 md:pt-12">
            <img class="w-3/4 mx-auto" src="/img/page-actus/actus.svg" alt="">
        </div>
        <div class="w-full md:w-3/5">
            {{ range (first 1 $sortedPages) }}
            {{ .Render "li-home"}}
            {{ end }}
        </div>
    </div>
</div>

<div class="w-11/12 md:w-5/6 m-auto py-4 px-2 mt-4">
    <div class="flex flex-row flex-wrap mt-8">
        {{ range first 6 (after 1 $sortedPages) }}
        {{ .Render "li-actus"}}
        {{ end }}
    </div>
</div>

<div id="button-actus" class="flex justify-center mb-8">
    <div class="flex flex-row justify-center">
        <button class="big-red-button big-red-button--rounded" onclick="displayAllActus()">
            {{ .Params.button_text }}
        </button>
    </div>
</div>

<div id="remaining-actus" class="w-11/12 md:w-5/6 m-auto px-2 -mt-2 hidden">
    <div class="flex flex-row flex-wrap">
        {{ range (after 7 $sortedPages) }}
            {{ .Render "li-actus"}}
        {{ end }}
    </div>
</div>

<!--
<div class="w-full bg-white py-12">
    <div class="w-11/12 md:w-5/6 px-6 mx-auto flex flex-wrap items-center">    
        <h2 class="w-full uppercase text-rered text-xl md:text-2xl font-extrabold mb-4">{{ .Params.media_title }}</h2>
        {{ range .Params.medias }}
            <div class="w-1/2 md:w-1/6 py-4 px-4 md:px-8">
                <a href="{{.link}}" target="_blank"><img src="{{.logo}}" title="{{.title}}" alt ="Article {{.title}}"/></a>
            </div>
        {{ end }}
    </div>
</div>
-->

<script>
    function displayAllActus() {
        document.getElementById("button-actus").classList.add("hidden");
        document.getElementById("remaining-actus").classList.remove("hidden");
    }
</script>

{{ end }}