{{ define "main" }}
<div class="w-full bg-rered px-2 py-4 flex flex-row tracking-tighter">
    <div class="w-11/12 lg:w-4/6 m-auto">
        <ul class="flex flex-row flex-wrap text-white">
            <li>
                <a href="{{ ref . "/actualites" }}" class="border-white">Actus</a>
            </li>
            <li class="px-4"> > </li>
            <li class="font-bold">
                {{dateFormat "02.01.2006" .Params.date}}
            </li>
        </ul>
    </div>
</div>
<div class="w-11/12 lg:w-4/6 m-auto pt-8 pb-4 flex flex-row px-2 justify-center tracking-tighter">
    <div class="flex flex-col md:flex-row w-full items-center">
        <div class="w-full max-w-xs md:max-w-sm h-full rounded-lg"><img class="rounded-lg object-contain object-top w-full" src="{{ .Params.illu }}" alt=""/></div>
        <div class="w-full md:pl-4">
            <h2 class="mt-4 md:mt-0 text-2xl md:text-3xl font-bold uppercase text-redarkgrey">
                {{ .Title }}
            </h2>
            <p class="my-4">
                <span class="text-redarkgrey">le {{dateFormat "02.01.2006" .Params.date}}</span>
                <!--<span class="text-redarkpink"> par</span>
                <span class="uppercase text-redarkpink font-semibold">
                    {{ .Params.author }}
                </span>-->
            </p>
            <ul class="text-rered mt-4">
                {{ range (.GetTerms "tags") }}
                <li class="mr-2 text-sm inline-block mb-4">
                    <a href="{{ .Permalink }}" class="bg-rebeige rounded-full py-1 px-6">
                        <span class="text-rered uppercase font-semibold">#{{ .LinkTitle }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ with .Params.logo }}
            <div class="w-24 h-24">
                <a href="{{$.Params.link}}" target="_blank" class="w-24 h-24">
                    <img src="{{.}}" class="object-contain rounded-full border-rebeige border-4 w-24 h-24" />
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<div class="w-11/12 lg:w-4/6 m-auto text-rered mt-2 pb-8 px-2 justify-center flex flex-row flex-wrap">
    <span class="w-full border-t-4 border-rebeige mb-4 md:mb-8 md:mt-4"></span>
    <div class="w-full mb-8 text-rered text-xl md:text-2xl markdown tracking-tighter">{{ .Params.intro | markdownify }}</div>
    <div class="w-full markdown text-redarkgrey text-md md:text-lg font-medium tracking-tighter"> {{ .Content | markdownify }}
</div>
</div>
<div class="text-center mb-8">
    <a class="big-red-button big-red-button--rounded"
            href="https://regleselementaires.don-en-ligne.com/b?cid=1&lang=fr_FR&frequency=once&amount=16000"
            onclick="_paq.push(['trackEvent', 'Don Financier', 'clicDonnerDonFinancier', 'don_actu']);"
        >
            FAIRE UN DON
            <span class="rounded-full bg-white text-rered font-bold px-2 py-1 ml-1">€</span>
    </a>
</div>

{{ end }}