{{ define "main" }}
<div class="w-11/12 lg:w-4/6 m-auto px-2 pt-2 flex flex-row mt-4 tracking-tighter">
    <div class="w-full lg:w-1/2">
        <a href="{{ ref . "/actualites" }}" class="hover:underline text-rered">
            < Retour aux actualités</a>
    </div>
</div>
<div class="w-11/12 lg:w-4/6 m-auto pt-8 pb-4 flex flex-row px-2 justify-center tracking-tighter">
    <div class="flex flex-col md:flex-row w-full items-center">
        <div class="w-full max-w-xs md:max-w-sm h-full"><img class="object-contain object-top w-full h-full" src="{{ .Params.illu }}" /></div>
        <div class="w-full md:pl-4">
            <h2 class="text-3xl font-medium text-redarkgrey">
                {{ .Title }}
            </h2>
            <p class="">
                <span class="text-rered">le {{dateFormat "02.01.2006" .Params.date}}</span>
                <span class="text-redarkpink"> par</span>
                <span class="uppercase text-redarkpink font-semibold">
                    {{ .Params.author }}
                </span>
            </p>
            <ul class="text-rered mt-4">
                {{ range (.GetTerms "tags") }}
                <li class="mr-2 text-sm inline-block mb-4">
                    <a href="{{ .Permalink }}" class="bg-repink rounded-full py-1 px-6">
                        <span class="text-rered uppercase font-semibold">#{{ .LinkTitle }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
            <div class="text-rered markdown">{{ .Params.intro | markdownify }}</div>
        </div>
    </div>
</div>
<div class="w-11/12 lg:w-4/6 m-auto text-rered mt-2 pb-8 px-2 justify-center flex flex-row tracking-tighter">
    <div class="w-full markdown"> {{ .Content | markdownify }}
    </div>
</div>
<div class="text-center mb-8">
    <a class="big-red-button big-red-button--rounded"
            href="https://www.helloasso.com/associations/regles-elementaires/formulaires/1/widget" 
            target="_blank"
            onclick="gtag('event', 'clicDonnerDonsFinanciers', {
                'event_category': 'Dons Financiers',
                'event_label': 'don_actu',
              });"
        >
            FAIRE UN DON
            <span class="rounded-full bg-white text-rered font-bold px-2 py-1 ml-1">€</span>
            <!-- <img src="/img/page-home/dons.svg" class="flex h-8" /> -->
    </a>
</div>

{{ end }}