{{ define "main" }}
<div class="container pt-8 flex flex-row px-2 justify-center">
    <div class="flex flex-col md:flex-row w-full lg:w-1/2 items-center">
        <div class="w-1/3 h-48"><img class="object-contain w-full h-full" src="{{.Params.illu}}" /></div>
        <div class="w-full md:w-2/3 px-4">
            <h2 class="uppercase text-2xl underline text-redarkgrey"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class=""><span class="text-rered">le {{dateFormat "02.01.2006" .Params.date}}</span><span
                    class="text-redarkpink"> par
                </span><span class="uppercase text-redarkpink">
                    {{ .Params.author }}</span></p>
            <div class="text-rered text-justify">{{ .Params.intro | markdownify}}</div>
        </div>
    </div>
</div>
<div class="container text-rered mt-2 pb-8 px-2 text-justify justify-center flex flex-row">
    <div class="w-full lg:w-1/2"> {{ .Content | markdownify}}
    </div>
</div>
{{ end }}