{{ define "main" }}
<div class="container pt-8 flex flex-row px-6 justify-center">
    <div class="flex flex-col md:flex-row w-full items-center flex-wrap">
        <div class="w-full xl:w-2/3 px-4">
            <h2 class="uppercase text-2xl underline text-redarkgrey"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class=""><span class="text-rered">le {{dateFormat "02.01.2006" .Params.date}}</span><span
                    class="text-redarkpink"> par
                </span><span class="uppercase text-redarkpink">
                    {{ .Params.author }}</span></p>
            <div class="text-rered text-justify  markdown">{{ .Params.intro | markdownify}}</div>
            <div class="markdown text-justify text-rered"> {{ .Content | markdownify}}
            </div>
        </div>
        <div class="w-full xl:w-1/3 px-4 flex flex-col items-center my-4">
            <div class="border border-rered p-2"><iframe width="400" height="400"
                    src="https://www.youtube.com/embed/{{.Params.main_video_id}}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div>
        </div>
    </div>
</div>
<div class="container text-rered mt-2 pb-8 px-2 text-justify justify-center flex flex-row flex-wrap">
    {{ range .Params.video_list }}
    <div class="w-3/4 lg:w-1/2 xl:w-1/3 p-4 flex flex-col items-center">
        <div class="border-t border-b border-rered py-2">
            <iframe width="400" height="400" src="https://www.youtube.com/embed/{{.youtube_id}}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
    </div>
    {{end}}
</div>
{{ end }}