<div class="w-full md:w-1/2 flex flex-row py-2">
    <div class="w-1/3 h-24"><img class="object-contain w-full h-full" src="{{.Params.illu}}" /></div>
    <div class=" w-2/3 px-4">
        <h2 class="uppercase text-2xl underline text-redarkgrey"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p class=""><span class="text-rered">le {{dateFormat "02.01.2006" .Params.date}}</span><span
                class="text-redarkpink"> par
            </span><span class="uppercase text-redarkpink">
                {{ .Params.author }}</span></p>
    </div>
</div>