{{ define "main" }}
<div class="container py-8 px-2">
    <h1 class="uppercase font-bold text-2xl text-rered"><span class="text-redarkpink">Toute l'actu</span> de
        l'association
    </h1>
    {{ $sortedPages := sort .Pages ".Params.date" "desc" }}
    {{ range (first 1 $sortedPages) }}
    <div class="flex flex-row mt-8">
        <div class="w-1/3 h-48"><img class="object-contain w-full h-full" src="{{.Params.illu}}" /></div>
        <div class=" w-2/3 px-4">
            <h2 class="uppercase text-2xl underline text-redarkgrey"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class=""><span class="text-rered">le {{dateFormat "02.01.2006" .Params.date}}</span><span
                    class="text-redarkpink"> par
                </span><span class="uppercase text-redarkpink">
                    {{ .Params.author }}</span></p>
            <div class="text-rered text-justify markdown">{{ .Params.intro | markdownify}}</div>
        </div>
    </div>
    {{ end }}
    <div class="flex flex-row flex-wrap mt-8">
        {{ range (after 1 $sortedPages) }}
        {{ .Render "li"}}
        {{ end }}
    </div>
</div>
{{ end }}